In [1]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import re

Requirement already satisfied: selenium in e:\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in e:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in e:\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in e:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in e:\anaconda\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: cffi>=1.14 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in e:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in e:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in e:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in e:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# PHASE 1

* Store the entire data in two different CSV files as per the given fields:

The first CSV file data contains :

Sno, Movie Name, Director Name, Duration, year, ratings, Metascore

Bifurcate the Director field into subfields as per the number of directors of the movie belongs to such as Director1, director2

* The second CSV file contains the following:

Movie Name, stars, votes, Genre, Gross collection, popularity, Certification

Bifurcate the stars field into 4 subfields as per the number of stars worked in the movie such as star1, star2, star3, star4

Bifurcate the genre into 3 subfields as per the number of genres the movie belongs to such as :

Genre1, genre2, genre3

In [7]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")

# SPLIT DIRRCTOR AND STAR

In [3]:
a=[]
a_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[3]')
for i in a_tags:
    a.append(i.text)
director1 = []
director2 = []
star1 = []
star2 = []
star3 = []
star4 = []

In [4]:
for movie in a:
    # Extracting Director and Stars information
    movie_data = movie.split('|')
    director = movie_data[0].split(':')[1].strip()
    stars = movie_data[1].split(':')[1].strip().split(', ')

    # Separating Director 1 and Director 2
    if len(director.split(', ')) > 1:
        directors = director.split(', ')
        director1.append(directors[0])
        director2.append(directors[1])
    else:
        director1.append(director)
        director2.append('Nan')

    # Separating Star 1, Star 2, Star 3, and Star 4
    if len(stars) > 0:
        star1.append(stars[0])
    else:
        star1.append('Nan')

    if len(stars) > 1:
        star2.append(stars[1])
    else:
        star2.append('Nan')

    if len(stars) > 2:
        star3.append(stars[2])
    else:
        star3.append('Nan')

    if len(stars) > 3:
        star4.append(stars[3])
    else:
        star4.append('Nan')

# TABLE 1

In [5]:
sno=[]
sno_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[1]')
for i in sno_tags:
    sno.append(i.text)
movie_name=[]
mov_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in mov_tags:
    movie_name.append(i.text)
duration=[]
dur_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
for i in dur_tags:
    duration.append(i.text)
year=[]
year_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3[1]/span[2]')
for i in year_tags:
    year.append(i.text)
rat=[]
rat_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]')
for i in rat_tags:
    rat.append(i.text)
met=[]
met_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[3]/span[1]')
for i in met_tags:
    met.append(i.text)
met.insert(7, "Nan")
met.insert(12,'Nan')
met.insert(22,'Nan')
met.insert(23,"Nan")
met.insert(30,"Nan")
met.insert(31,"Nan")
met.insert(32,"Nan")
met.insert(33,"Nan")
met.insert(34,"Nan")
met.insert(35,"Nan")
met.insert(47,"Nan")
met.insert(49,"Nan")
df1=pd.DataFrame({'SNO.':sno,'MOVIE NAME':movie_name,'DIRECTOR1':director1,'DIRECTOR2':director2,'DURATION':duration,'YEAR':year,'RATING':rat,'METSCORE':met})
df1

,SNO.,MOVIE NAME,DIRECTOR1,DIRECTOR2,DURATION,YEAR,RATING,METSCORE
0,1.,The Dark Knight,Christopher Nolan,Nan,152 min,(2008),9.0,84
1,2.,The Lord of the Rings: The Return of the King,Peter Jackson,Nan,201 min,(2003),9.0,94
2,3.,Inception,Christopher Nolan,Nan,148 min,(2010),8.8,74
3,4.,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,Nan,178 min,(2001),8.8,92
4,5.,The Lord of the Rings: The Two Towers,Peter Jackson,Nan,179 min,(2002),8.8,87
5,6.,The Matrix,Lana Wachowski,Lilly Wachowski,136 min,(1999),8.7,73
6,7.,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Nan,124 min,(1980),8.7,82
7,8.,Soorarai Pottru,Sudha Kongara,Nan,153 min,(2020),8.7,Nan
8,9.,Star Wars: Episode IV - A New Hope,George Lucas,Nan,121 min,(1977),8.6,90
9,10.,Terminator 2: Judgment Day,James Cameron,Nan,137 min,(1991),8.6,75
10,11.,Seven Samurai,Akira Kurosawa,Nan,207 min,(1954),8.6,98
11,12.,Harakiri,Masaki Kobayashi,Nan,133 min,(1962),8.6,85
12,13.,Sita Ramam,Hanu Raghavapudi,Nan,163 min,(2022),8.6,Nan
13,14.,Leon,Luc Besson,Nan,110 min,(1994),8.5,64
14,15.,Gladiator,Ridley Scott,Nan,155 min,(2000),8.5,67
15,16.,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,117 min,(2018),8.4,87
16,17.,Avengers: Endgame,Anthony Russo,Joe Russo,181 min,(2019),8.4,78
17,18.,Raiders of the Lost Ark,Steven Spielberg,Nan,115 min,(1981),8.4,85
18,19.,Avengers: Infinity War,Anthony Russo,Joe Russo,149 min,(2018),8.4,68
19,20.,Oldboy,Park Chan-wook,Nan,101 min,(2003),8.4,77
20,21.,The Dark Knight Rises,Christopher Nolan,Nan,164 min,(2012),8.4,78
21,22.,Aliens,James Cameron,Nan,137 min,(1986),8.4,84
22,23.,Kaithi,Lokesh Kanagaraj,Nan,145 min,(2019),8.4,Nan
23,24.,Asuran,Vetrimaaran,Nan,141 min,(2019),8.4,Nan
24,25.,Top Gun: Maverick,Joseph Kosinski,Nan,130 min,(2022),8.3,78
25,26.,Heat,Michael Mann,Nan,170 min,(1995),8.3,76
26,27.,Star Wars: Return of the Jedi,Richard Marquand,Nan,131 min,(1983),8.3,58
27,28.,Princess Mononoke,Hayao Miyazaki,Nan,134 min,(1997),8.3,76
28,29.,North by Northwest,Alfred Hitchcock,Nan,136 min,(1959),8.3,98
29,30.,Kantara,Rishab Shetty,Nan,148 min,(2022),8.3,64
30,31.,Dangal,Nitesh Tiwari,Nan,161 min,(2016),8.3,Nan
31,32.,K.G.F: Chapter 2,Prashanth Neel,Nan,168 min,(2022),8.3,Nan
32,33.,Vikram,Lokesh Kanagaraj,Nan,175 min,(2022),8.3,Nan
33,34.,Raatchasan,Ram Kumar,Nan,170 min,(2018),8.3,Nan
34,35.,Shershaah,Vishnuvardhan,Nan,135 min,(2021),8.3,Nan
35,36.,Guardians of the Galaxy Vol. 3,James Gunn,Nan,150 min,(2023),8.2,Nan
36,37.,Spider-Man: No Way Home,Jon Watts,Nan,148 min,(2021),8.2,71
37,38.,Jurassic Park,Steven Spielberg,Nan,127 min,(1993),8.2,68
38,39.,Indiana Jones and the Last Crusade,Steven Spielberg,Nan,127 min,(1989),8.2,65
39,40.,1917,Sam Mendes,Nan,119 min,(2019),8.2,78
40,41.,Kill Bill: Vol. 1,Quentin Tarantino,Nan,111 min,(2003),8.2,69
41,42.,Batman Begins,Christopher Nolan,Nan,140 min,(2005),8.2,70
42,43.,Die Hard,John McTiernan,Nan,132 min,(1988),8.2,72
43,44.,V for Vendetta,James McTeigue,Nan,132 min,(2005),8.2,62
44,45.,Demon Slayer the Movie: Mugen Train,Haruo Sotozaki,Nan,117 min,(2020),8.2,72
45,46.,Ran,Akira Kurosawa,Nan,162 min,(1985),8.2,97
46,47.,Gangs of Wasseypur,Anurag Kashyap,Nan,321 min,(2012),8.2,89
47,48.,Vikram Vedha,Gayatri,Pushkar,147 min,(2017),8.2,Nan
48,49.,Baahubali 2: The Conclusion,S.S. Rajamouli,Nan,167 min,(2017),8.2,93
49,50.,Yojimbo,Akira Kurosawa,Nan,110 min,(1961),8.2,Nan

# TABLE 2

In [22]:
movie_name=[]
mov_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in mov_tags:
    movie_name.append(i.text)
vot=[]
vot_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in vot_tags:
    vot.append(i.text)
gen=[]
gen_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in gen_tags:
    gen.append(i.text)
genre1 = []
genre2 = []
genre3 = []

for element in gen:
    genres = element.split(", ")
    if len(genres)==3:
        genre1.append(genres[0])
        genre2.append(genres[1])
        genre3.append(genres[2])
    if len(genres)==2:
        genre1.append(genres[0])
        genre2.append(genres[1])
        genre3.append('Nan')
gross=[]
gross_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[5]')
for i in gross_tags:
    gross.append(i.text)
gross.insert(8,'Nan')
gross.insert(12,'Nan')
gross.insert(13,'Nan')
gross.insert(22,'Nan')
gross.insert(23,'Nan')
gross.insert(24,'Nan')
gross.insert(30,'Nan')
gross.insert(33,'Nan')
gross.insert(34,'Nan')
gross.insert(35,'Nan')
gross.insert(36,'Nan')
gross.insert(47,'Nan')
gross.insert(48,'Nan')
cer=[]
cer_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[1]')
for i in cer_tags:
    cer.append(i.text)
df2=pd.DataFrame({'MOVIE NAME':movie_name,'STAR 1':star1,'STAR 2':star2,'STAR 3':star3,'STAR 4':star4,'VOTE':vot,'GENRE1':genre1,'GENRE2':genre2,'GENRE3':genre3,'GROSS COLLECTION':gross,'CERTIFICATION':cer})
df2

,MOVIE NAME,STAR 1,STAR 2,STAR 3,STAR 4,VOTE,GENRE1,GENRE2,GENRE3,GROSS COLLECTION,CERTIFICATION
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,717,164",Action,Crime,Drama,$534.86M,12A
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,886,427",Action,Adventure,Drama,$377.85M,12A
2,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,"2,411,986",Action,Adventure,Sci-Fi,$292.58M,12A
3,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,"1,915,141",Action,Adventure,Drama,$315.54M,PG
4,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,"1,702,734",Action,Adventure,Drama,$342.55M,12A
5,The Matrix,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Hugo Weaving,"1,957,049",Action,Sci-Fi,Nan,$171.48M,15
6,Star Wars: Episode V - The Empire Strikes Back,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,"1,320,621",Action,Adventure,Fantasy,$290.48M,U
7,Soorarai Pottru,Suriya,Paresh Rawal,Aparna Balamurali,Urvashi,"119,458",Action,Drama,Nan,$322.74M,15
8,Star Wars: Episode IV - A New Hope,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,"1,393,078",Action,Adventure,Fantasy,Nan,U
9,Terminator 2: Judgment Day,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,"1,122,619",Action,Sci-Fi,Nan,$204.84M,15
10,Seven Samurai,Toshir么 Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,"352,730",Action,Drama,Nan,$0.27M,A
11,Harakiri,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsur么 Tanba,"60,924",Action,Drama,Mystery,$19.50M,X
12,Sita Ramam,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,"59,767",Action,Drama,Mystery,Nan,12A
13,Leon,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,"1,188,926",Action,Crime,Drama,Nan,18
14,Gladiator,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,"1,535,607",Action,Adventure,Drama,$187.71M,15
15,Spider-Man: Into the Spider-Verse,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,"564,092",Animation,Action,Adventure,$190.24M,PG
16,Avengers: Endgame,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,"1,179,125",Action,Adventure,Drama,$858.37M,12A
17,Raiders of the Lost Ark,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,"985,834",Action,Adventure,Nan,$248.16M,A
18,Avengers: Infinity War,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,"1,122,577",Action,Adventure,Sci-Fi,$678.82M,12A
19,Oldboy,Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Byeong-Ok,"596,103",Action,Drama,Mystery,$0.71M,18
20,The Dark Knight Rises,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,"1,740,960",Action,Drama,Thriller,$448.14M,12A
21,Aliens,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,"732,272",Action,Adventure,Sci-Fi,$85.16M,U
22,Kaithi,Karthi,Narain,Arjun Das,George Maryan,"36,050",Action,Adventure,Crime,Nan,12A
23,Asuran,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,"31,171",Action,Drama,Nan,Nan,12A
24,Top Gun: Maverick,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,"588,246",Action,Drama,Nan,Nan,12A
25,Heat,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,"675,635",Action,Crime,Drama,$718.73M,15
26,Star Wars: Return of the Jedi,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,"1,077,185",Action,Adventure,Fantasy,$67.44M,U
27,Princess Mononoke,Y么ji Matsuda,Yuriko Ishida,Y没ko Tanaka,Billy Crudup,"406,580",Animation,Action,Adventure,$309.13M,PG
28,North by Northwest,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,"334,478",Action,Adventure,Mystery,$2.38M,A
29,Kantara,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,"95,359",Action,Adventure,Drama,$13.28M,15
30,Dangal,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,"197,234",Action,Biography,Drama,Nan,PG
31,K.G.F: Chapter 2,Yash,Sanjay Dutt,Raveena Tandon,Srinidhi Shetty,"139,555",Action,Crime,Drama,$12.39M,15
32,Vikram,Kamal Haasan,Vijay Sethupathi,Fahadh Faasil,Narain,"63,782",Action,Crime,Thriller,$6.60M,15
33,Raatchasan,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,"46,914",Action,Crime,Drama,Nan,UA
34,Shershaah,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,"124,736",Action,Biography,Drama,Nan,16
35,Guardians of the Galaxy Vol. 3,Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff,"144,022",Action,Adventure,Comedy,Nan,12A
36,Spider-Man: No Way Home,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,"796,251",Action,Adventure,Fantasy,Nan,12A
37,Jurassic Park,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,"1,013,472",Action,Adventure,Sci-Fi,$804.75M,PG
38,Indiana Jones and the Last Crusade,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,"770,837",Action,Adventure,Nan,$402.45M,PG
39,1917,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,"620,547",Action,Drama,War,$197.17M,15
40,Kill Bill: Vol. 1,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,"1,140,406",Action,Crime,Drama,$159.23M,18
41,Batman Begins,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,"1,502,736",Action,Crime,Drama,$70.10M,12A
42,Die Hard,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,"901,072",Action,Thriller,Nan,$206.85M,18
43,V for Vendetta,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,"1,140,465",Action,Drama,Sci-Fi,$83.01M,15
44,Demon Slayer the Movie: Mugen Train,Natsuki Hanae,Akari Kit么,Yoshitsugu Matsuoka,Hiro Shimono,"64,273",Animation,Action,Adventure,$70.51M,15
45,Ran,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke Ry没,"129,096",Action,Drama,War,$47.70M,15
46,Gangs of Wasseypur,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,"99,312",Action,Comedy,Crime,$4.14M,18
47,Vikram Vedha,Madhavan,Vijay Sethupathi,Shraddha Srinath,Kathir,"47,608",Action,Crime,Drama,Nan,12A
48,Baahubali 2: The Conclusion,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,"106,651",Action,Drama,Nan,Nan,15
49,Yojimbo,Toshir么 Mifune,Eijir么 T么no,Tatsuya Nakadai,Y么ko Tsukasa,"125,831",Action,Drama,Thriller,$20.19M,A

In [23]:
df2["VOTE"] = df2["VOTE"].str.replace(",", "").astype(int)

# SAVE TABLES IN CSV FILE

In [24]:
# Specify the file path and name
csv_file = 'imdb_directors.csv'

# Save the DataFrame as a CSV file
df1.to_csv(csv_file, index=False)

In [25]:
# Specify the file path and name
csv_file = 'imdb_genre.csv'

# Save the DataFrame as a CSV file
df2.to_csv(csv_file, index=False)

# Make two tables and corresponding columns provided in the above CSV files in SQLite DBMS. Insert all data of each CSV file in each of the created tables. Now start querying the table(s) in the  SQL workbench / SQLite database :

# PHASE 2

# BY SQLite DBMS

# TABLE 1

In [28]:
import sqlite3
import csv

# Connect to the database (creates a new database if it doesn't exist)
conn = sqlite3.connect('imdb.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE movies (
        SNO INTEGER,
        MOVIE_NAME TEXT,
        DIRECTOR1 TEXT,
        DIRECTOR2 TEXT,
        DURATION TEXT,
        YEAR TEXT,
        RATING REAL,
        METSCORE INTEGER
    )
''')

# Read data from the CSV file and insert into the table
with open('imdb_directors.csv', 'r') as file:
    total_record=0
    for i in file:
        cursor.execute("insert into movies values(?, ?, ?, ?, ?, ?, ?, ?)",i.split(","))
        conn.commit()
        total_record+=1
print(total_record,'records inserted')

51 records inserted

In [29]:
result =cursor.execute("select * from movies")
for i in result:
    print(i)

('SNO.', 'MOVIE NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE\n')
(1, 'The Dark Knight', 'Christopher Nolan', 'Nan', '152 min', '(2008)', 9.0, 84)
(2, 'The Lord of the Rings: The Return of the King', 'Peter Jackson', 'Nan', '201 min', '(2003)', 9.0, 94)
(3, 'Inception', 'Christopher Nolan', 'Nan', '148 min', '(2010)', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 'Nan', '178 min', '(2001)', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', 'Peter Jackson', 'Nan', '179 min', '(2002)', 8.8, 87)
(6, 'The Matrix', 'Lana Wachowski', 'Lilly Wachowski', '136 min', '(1999)', 8.7, 73)
(7, 'Star Wars: Episode V - The Empire Strikes Back', 'Irvin Kershner', 'Nan', '124 min', '(1980)', 8.7, 82)
(8, 'Soorarai Pottru', 'Sudha Kongara', 'Nan', '153 min', '(2020)', 8.7, 'Nan\n')
(9, 'Star Wars: Episode IV - A New Hope', 'George Lucas', 'Nan', '121 min', '(1977)', 8.6, 90)
(10, 'Terminator 2: Judgment Day', 'James Cameron', 'Nan', '137 min', '(1991)', 8.6, 75)
(11, 'Seven Samurai', 'Akira Kurosawa', 'Nan', '207 min', '(1954)', 8.6, 98)
(12, 'Harakiri', 'Masaki Kobayashi', 'Nan', '133 min', '(1962)', 8.6, 85)
(13, 'Sita Ramam', 'Hanu Raghavapudi', 'Nan', '163 min', '(2022)', 8.6, 'Nan\n')
(14, 'Leon', 'Luc Besson', 'Nan', '110 min', '(1994)', 8.5, 64)
(15, 'Gladiator', 'Ridley Scott', 'Nan', '155 min', '(2000)', 8.5, 67)
(16, 'Spider-Man: Into the Spider-Verse', 'Bob Persichetti', 'Peter Ramsey', '117 min', '(2018)', 8.4, 87)
(17, 'Avengers: Endgame', 'Anthony Russo', 'Joe Russo', '181 min', '(2019)', 8.4, 78)
(18, 'Raiders of the Lost Ark', 'Steven Spielberg', 'Nan', '115 min', '(1981)', 8.4, 85)
(19, 'Avengers: Infinity War', 'Anthony Russo', 'Joe Russo', '149 min', '(2018)', 8.4, 68)
(20, 'Oldboy', 'Park Chan-wook', 'Nan', '101 min', '(2003)', 8.4, 77)
(21, 'The Dark Knight Rises', 'Christopher Nolan', 'Nan', '164 min', '(2012)', 8.4, 78)
(22, 'Aliens', 'James Cameron', 'Nan', '137 min', '(1986)', 8.4, 84)
(23, 'Kaithi', 'Lokesh Kanagaraj', 'Nan', '145 min', '(2019)', 8.4, 'Nan\n')
(24, 'Asuran', 'Vetrimaaran', 'Nan', '141 min', '(2019)', 8.4, 'Nan\n')
(25, 'Top Gun: Maverick', 'Joseph Kosinski', 'Nan', '130 min', '(2022)', 8.3, 78)
(26, 'Heat', 'Michael Mann', 'Nan', '170 min', '(1995)', 8.3, 76)
(27, 'Star Wars: Return of the Jedi', 'Richard Marquand', 'Nan', '131 min', '(1983)', 8.3, 58)
(28, 'Princess Mononoke', 'Hayao Miyazaki', 'Nan', '134 min', '(1997)', 8.3, 76)
(29, 'North by Northwest', 'Alfred Hitchcock', 'Nan', '136 min', '(1959)', 8.3, 98)
(30, 'Kantara', 'Rishab Shetty', 'Nan', '148 min', '(2022)', 8.3, 64)
(31, 'Dangal', 'Nitesh Tiwari', 'Nan', '161 min', '(2016)', 8.3, 'Nan\n')
(32, 'K.G.F: Chapter 2', 'Prashanth Neel', 'Nan', '168 min', '(2022)', 8.3, 'Nan\n')
(33, 'Vikram', 'Lokesh Kanagaraj', 'Nan', '175 min', '(2022)', 8.3, 'Nan\n')
(34, 'Raatchasan', 'Ram Kumar', 'Nan', '170 min', '(2018)', 8.3, 'Nan\n')
(35, 'Shershaah', 'Vishnuvardhan', 'Nan', '135 min', '(2021)', 8.3, 'Nan\n')
(36, 'Guardians of the Galaxy Vol. 3', 'James Gunn', 'Nan', '150 min', '(2023)', 8.2, 'Nan\n')
(37, 'Spider-Man: No Way Home', 'Jon Watts', 'Nan', '148 min', '(2021)', 8.2, 71)
(38, 'Jurassic Park', 'Steven Spielberg', 'Nan', '127 min', '(1993)', 8.2, 68)
(39, 'Indiana Jones and the Last Crusade', 'Steven Spielberg', 'Nan', '127 min', '(1989)', 8.2, 65)
(40, '1917', 'Sam Mendes', 'Nan', '119 min', '(2019)', 8.2, 78)
(41, 'Kill Bill: Vol. 1', 'Quentin Tarantino', 'Nan', '111 min', '(2003)', 8.2, 69)
(42, 'Batman Begins', 'Christopher Nolan', 'Nan', '140 min', '(2005)', 8.2, 70)
(43, 'Die Hard', 'John McTiernan', 'Nan', '132 min', '(1988)', 8.2, 72)
(44, 'V for Vendetta', 'James McTeigue', 'Nan', '132 min', '(2005)', 8.2, 62)
(45, 'Demon Slayer the Movie: Mugen Train', 'Haruo Sotozaki', 'Nan', '117 min', '(2020)', 8.2, 72)
(46, 'Ran', 'Akira Kurosawa', 'Nan', '162 min', '(1985)', 8.2, 97)
(47, 'Gangs of Wasseypur', 'Anurag Kashyap', 'Nan', '321 min', '(2012)', 8.2, 89)
(48, 'Vikram Vedha', 'Gayatri', 'Pushkar', '147 min', '(2017)', 8.2, 'Nan\n')
(49, 'Baahubali 2: The Conclusion', 'S.S. Rajamouli', 'Nan', '167 min', '(2017)', 8.2, 93)
(50, 'Yojimbo', 'Akira Kurosawa', 'Nan', '110 min', '(1961)', 8.2, 'Nan\n')

1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [30]:
query = cursor.execute("SELECT * FROM movies WHERE DIRECTOR1 = 'Christopher Nolan' OR DIRECTOR1 = 'Matt Reeves' OR DIRECTOR2 = 'Matt Reeves'")
for row in query:
    print(row)

(1, 'The Dark Knight', 'Christopher Nolan', 'Nan', '152 min', '(2008)', 9.0, 84)
(3, 'Inception', 'Christopher Nolan', 'Nan', '148 min', '(2010)', 8.8, 74)
(21, 'The Dark Knight Rises', 'Christopher Nolan', 'Nan', '164 min', '(2012)', 8.4, 78)
(42, 'Batman Begins', 'Christopher Nolan', 'Nan', '140 min', '(2005)', 8.2, 70)

2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [31]:
# Execute the SELECT query and read the results into a DataFrame
query = cursor.execute("SELECT * FROM movies WHERE DURATION >= '140 min' AND DURATION <= '190 min'")
for i in query:
    print(i)

(1, 'The Dark Knight', 'Christopher Nolan', 'Nan', '152 min', '(2008)', 9.0, 84)
(3, 'Inception', 'Christopher Nolan', 'Nan', '148 min', '(2010)', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 'Nan', '178 min', '(2001)', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', 'Peter Jackson', 'Nan', '179 min', '(2002)', 8.8, 87)
(8, 'Soorarai Pottru', 'Sudha Kongara', 'Nan', '153 min', '(2020)', 8.7, 'Nan\n')
(13, 'Sita Ramam', 'Hanu Raghavapudi', 'Nan', '163 min', '(2022)', 8.6, 'Nan\n')
(15, 'Gladiator', 'Ridley Scott', 'Nan', '155 min', '(2000)', 8.5, 67)
(17, 'Avengers: Endgame', 'Anthony Russo', 'Joe Russo', '181 min', '(2019)', 8.4, 78)
(19, 'Avengers: Infinity War', 'Anthony Russo', 'Joe Russo', '149 min', '(2018)', 8.4, 68)
(21, 'The Dark Knight Rises', 'Christopher Nolan', 'Nan', '164 min', '(2012)', 8.4, 78)
(23, 'Kaithi', 'Lokesh Kanagaraj', 'Nan', '145 min', '(2019)', 8.4, 'Nan\n')
(24, 'Asuran', 'Vetrimaaran', 'Nan', '141 min', '(2019)', 8.4, 'Nan\n')
(26, 'Heat', 'Michael Mann', 'Nan', '170 min', '(1995)', 8.3, 76)
(30, 'Kantara', 'Rishab Shetty', 'Nan', '148 min', '(2022)', 8.3, 64)
(31, 'Dangal', 'Nitesh Tiwari', 'Nan', '161 min', '(2016)', 8.3, 'Nan\n')
(32, 'K.G.F: Chapter 2', 'Prashanth Neel', 'Nan', '168 min', '(2022)', 8.3, 'Nan\n')
(33, 'Vikram', 'Lokesh Kanagaraj', 'Nan', '175 min', '(2022)', 8.3, 'Nan\n')
(34, 'Raatchasan', 'Ram Kumar', 'Nan', '170 min', '(2018)', 8.3, 'Nan\n')
(36, 'Guardians of the Galaxy Vol. 3', 'James Gunn', 'Nan', '150 min', '(2023)', 8.2, 'Nan\n')
(37, 'Spider-Man: No Way Home', 'Jon Watts', 'Nan', '148 min', '(2021)', 8.2, 71)
(42, 'Batman Begins', 'Christopher Nolan', 'Nan', '140 min', '(2005)', 8.2, 70)
(46, 'Ran', 'Akira Kurosawa', 'Nan', '162 min', '(1985)', 8.2, 97)
(48, 'Vikram Vedha', 'Gayatri', 'Pushkar', '147 min', '(2017)', 8.2, 'Nan\n')
(49, 'Baahubali 2: The Conclusion', 'S.S. Rajamouli', 'Nan', '167 min', '(2017)', 8.2, 93)

3) Display all details of movies with ratings above 7 in ascending order.

In [32]:
# Execute the SELECT query and read the results into a DataFrame
query =cursor.execute("SELECT * FROM movies WHERE RATING > 7 ORDER BY RATING ASC")
for i in query:
    print(i)

(36, 'Guardians of the Galaxy Vol. 3', 'James Gunn', 'Nan', '150 min', '(2023)', 8.2, 'Nan\n')
(37, 'Spider-Man: No Way Home', 'Jon Watts', 'Nan', '148 min', '(2021)', 8.2, 71)
(38, 'Jurassic Park', 'Steven Spielberg', 'Nan', '127 min', '(1993)', 8.2, 68)
(39, 'Indiana Jones and the Last Crusade', 'Steven Spielberg', 'Nan', '127 min', '(1989)', 8.2, 65)
(40, '1917', 'Sam Mendes', 'Nan', '119 min', '(2019)', 8.2, 78)
(41, 'Kill Bill: Vol. 1', 'Quentin Tarantino', 'Nan', '111 min', '(2003)', 8.2, 69)
(42, 'Batman Begins', 'Christopher Nolan', 'Nan', '140 min', '(2005)', 8.2, 70)
(43, 'Die Hard', 'John McTiernan', 'Nan', '132 min', '(1988)', 8.2, 72)
(44, 'V for Vendetta', 'James McTeigue', 'Nan', '132 min', '(2005)', 8.2, 62)
(45, 'Demon Slayer the Movie: Mugen Train', 'Haruo Sotozaki', 'Nan', '117 min', '(2020)', 8.2, 72)
(46, 'Ran', 'Akira Kurosawa', 'Nan', '162 min', '(1985)', 8.2, 97)
(47, 'Gangs of Wasseypur', 'Anurag Kashyap', 'Nan', '321 min', '(2012)', 8.2, 89)
(48, 'Vikram Vedha', 'Gayatri', 'Pushkar', '147 min', '(2017)', 8.2, 'Nan\n')
(49, 'Baahubali 2: The Conclusion', 'S.S. Rajamouli', 'Nan', '167 min', '(2017)', 8.2, 93)
(50, 'Yojimbo', 'Akira Kurosawa', 'Nan', '110 min', '(1961)', 8.2, 'Nan\n')
(25, 'Top Gun: Maverick', 'Joseph Kosinski', 'Nan', '130 min', '(2022)', 8.3, 78)
(26, 'Heat', 'Michael Mann', 'Nan', '170 min', '(1995)', 8.3, 76)
(27, 'Star Wars: Return of the Jedi', 'Richard Marquand', 'Nan', '131 min', '(1983)', 8.3, 58)
(28, 'Princess Mononoke', 'Hayao Miyazaki', 'Nan', '134 min', '(1997)', 8.3, 76)
(29, 'North by Northwest', 'Alfred Hitchcock', 'Nan', '136 min', '(1959)', 8.3, 98)
(30, 'Kantara', 'Rishab Shetty', 'Nan', '148 min', '(2022)', 8.3, 64)
(31, 'Dangal', 'Nitesh Tiwari', 'Nan', '161 min', '(2016)', 8.3, 'Nan\n')
(32, 'K.G.F: Chapter 2', 'Prashanth Neel', 'Nan', '168 min', '(2022)', 8.3, 'Nan\n')
(33, 'Vikram', 'Lokesh Kanagaraj', 'Nan', '175 min', '(2022)', 8.3, 'Nan\n')
(34, 'Raatchasan', 'Ram Kumar', 'Nan', '170 min', '(2018)', 8.3, 'Nan\n')
(35, 'Shershaah', 'Vishnuvardhan', 'Nan', '135 min', '(2021)', 8.3, 'Nan\n')
(16, 'Spider-Man: Into the Spider-Verse', 'Bob Persichetti', 'Peter Ramsey', '117 min', '(2018)', 8.4, 87)
(17, 'Avengers: Endgame', 'Anthony Russo', 'Joe Russo', '181 min', '(2019)', 8.4, 78)
(18, 'Raiders of the Lost Ark', 'Steven Spielberg', 'Nan', '115 min', '(1981)', 8.4, 85)
(19, 'Avengers: Infinity War', 'Anthony Russo', 'Joe Russo', '149 min', '(2018)', 8.4, 68)
(20, 'Oldboy', 'Park Chan-wook', 'Nan', '101 min', '(2003)', 8.4, 77)
(21, 'The Dark Knight Rises', 'Christopher Nolan', 'Nan', '164 min', '(2012)', 8.4, 78)
(22, 'Aliens', 'James Cameron', 'Nan', '137 min', '(1986)', 8.4, 84)
(23, 'Kaithi', 'Lokesh Kanagaraj', 'Nan', '145 min', '(2019)', 8.4, 'Nan\n')
(24, 'Asuran', 'Vetrimaaran', 'Nan', '141 min', '(2019)', 8.4, 'Nan\n')
(14, 'Leon', 'Luc Besson', 'Nan', '110 min', '(1994)', 8.5, 64)
(15, 'Gladiator', 'Ridley Scott', 'Nan', '155 min', '(2000)', 8.5, 67)
(9, 'Star Wars: Episode IV - A New Hope', 'George Lucas', 'Nan', '121 min', '(1977)', 8.6, 90)
(10, 'Terminator 2: Judgment Day', 'James Cameron', 'Nan', '137 min', '(1991)', 8.6, 75)
(11, 'Seven Samurai', 'Akira Kurosawa', 'Nan', '207 min', '(1954)', 8.6, 98)
(12, 'Harakiri', 'Masaki Kobayashi', 'Nan', '133 min', '(1962)', 8.6, 85)
(13, 'Sita Ramam', 'Hanu Raghavapudi', 'Nan', '163 min', '(2022)', 8.6, 'Nan\n')
(6, 'The Matrix', 'Lana Wachowski', 'Lilly Wachowski', '136 min', '(1999)', 8.7, 73)
(7, 'Star Wars: Episode V - The Empire Strikes Back', 'Irvin Kershner', 'Nan', '124 min', '(1980)', 8.7, 82)
(8, 'Soorarai Pottru', 'Sudha Kongara', 'Nan', '153 min', '(2020)', 8.7, 'Nan\n')
(3, 'Inception', 'Christopher Nolan', 'Nan', '148 min', '(2010)', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 'Nan', '178 min', '(2001)', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', 'Peter Jackson', 'Nan', '179 min', '(2002)', 8.8, 87)
(1, 'The Dark Knight', 'Christopher Nolan', 'Nan', '152 min', '(2008)', 9.0, 84)
(2, 'The Lord of the Rings: The Return of the King', 'Peter Jackson', 'Nan', '201 min', '(2003)', 9.0, 94)
('SNO.', 'MOVIE NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE\n')

4) Display all movie names in descending order.

In [33]:
# Execute the SELECT query and read the results into a DataFrame
query = cursor.execute("SELECT MOVIE_NAME FROM movies ORDER BY MOVIE_NAME DESC")
for i in query:
    print(i)

('Yojimbo',)
('Vikram Vedha',)
('Vikram',)
('V for Vendetta',)
('Top Gun: Maverick',)
('The Matrix',)
('The Lord of the Rings: The Two Towers',)
('The Lord of the Rings: The Return of the King',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Dark Knight Rises',)
('The Dark Knight',)
('Terminator 2: Judgment Day',)
('Star Wars: Return of the Jedi',)
('Star Wars: Episode V - The Empire Strikes Back',)
('Star Wars: Episode IV - A New Hope',)
('Spider-Man: No Way Home',)
('Spider-Man: Into the Spider-Verse',)
('Soorarai Pottru',)
('Sita Ramam',)
('Shershaah',)
('Seven Samurai',)
('Ran',)
('Raiders of the Lost Ark',)
('Raatchasan',)
('Princess Mononoke',)
('Oldboy',)
('North by Northwest',)
('MOVIE NAME',)
('Leon',)
('Kill Bill: Vol. 1',)
('Kantara',)
('Kaithi',)
('K.G.F: Chapter 2',)
('Jurassic Park',)
('Indiana Jones and the Last Crusade',)
('Inception',)
('Heat',)
('Harakiri',)
('Guardians of the Galaxy Vol. 3',)
('Gladiator',)
('Gangs of Wasseypur',)
('Die Hard',)
('Demon Slayer the Movie: Mugen Train',)
('Dangal',)
('Batman Begins',)
('Baahubali 2: The Conclusion',)
('Avengers: Infinity War',)
('Avengers: Endgame',)
('Asuran',)
('Aliens',)
('1917',)

5) Display movie name starts with P and their rating is greater than 7.

In [34]:
# Execute the SELECT query and read the results into a DataFrame
query = cursor.execute("SELECT MOVIE_NAME FROM movies WHERE MOVIE_NAME LIKE 'P%' AND RATING > 7")
for i in query:
    print(i)

('Princess Mononoke',)

# TABLE 2

In [37]:
import sqlite3
import csv

# Connect to the database (creates a new database if it doesn't exist)
conn = sqlite3.connect('imdb.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE movies1(
        MOVIE_NAME TEXT,
        STAR_1 TEXT,
        STAR_2 TEXT,
        STAR_3 TEXT,
        STAR_4 TEXT,
        VOTE INT,
        GENRE_1 TEXT,
        GENRE_2 TEXT,
        GENRE_3 TEXT,
        GROSS_COLLECTION TEXT,
        CERTIFICATION TEXT
    )
''')

# Read data from the CSV file and insert into the table
with open('imdb_genre.csv', 'r') as file:
    csv_reader = csv.reader(file)
    total_records = 0
    for row in csv_reader:
        cursor.execute("INSERT INTO movies1 VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", row)
        conn.commit()
        total_records += 1

print(total_records, 'records inserted')

51 records inserted

1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [38]:
# Execute the SELECT query and read the results into a DataFrame
query = cursor.execute("SELECT MOVIE_NAME FROM movies1 WHERE STAR_1 = 'Arnold Schwarzenegger' ORDER BY MOVIE_NAME ASC")
for i in query:
    print(i)

('Terminator 2: Judgment Day',)

2) Display all details of the movie with the highest number of votes.

In [39]:
query = cursor.execute("SELECT * FROM movies1 WHERE CAST(VOTE AS INTEGER) = (SELECT MAX(CAST(VOTE AS INTEGER)) FROM movies1)")
for row in query:
    print(row)

('The Dark Knight', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 2717164, 'Action', 'Crime', 'Drama', '$534.86M', '12A')

3.) Display movie names with gross collections in descending order.

In [40]:
# Execute the SELECT query and read the results into a DataFrame
query = cursor.execute("SELECT MOVIE_NAME FROM movies1 ORDER BY GROSS_COLLECTION DESC")
for i in query:
    print(i)

('Star Wars: Episode IV - A New Hope',)
('Sita Ramam',)
('Leon',)
('Kaithi',)
('Asuran',)
('Top Gun: Maverick',)
('Dangal',)
('Raatchasan',)
('Shershaah',)
('Guardians of the Galaxy Vol. 3',)
('Spider-Man: No Way Home',)
('Vikram Vedha',)
('Baahubali 2: The Conclusion',)
('MOVIE NAME',)
('Avengers: Endgame',)
('Aliens',)
('V for Vendetta',)
('Jurassic Park',)
('Heat',)
('Demon Slayer the Movie: Mugen Train',)
('Batman Begins',)
('Avengers: Infinity War',)
('Star Wars: Return of the Jedi',)
('Vikram',)
('The Dark Knight',)
('Ran',)
('The Dark Knight Rises',)
('Indiana Jones and the Last Crusade',)
('Gangs of Wasseypur',)
('The Lord of the Rings: The Return of the King',)
('The Lord of the Rings: The Two Towers',)
('Soorarai Pottru',)
('The Lord of the Rings: The Fellowship of the Ring',)
('Princess Mononoke',)
('Inception',)
('Star Wars: Episode V - The Empire Strikes Back',)
('Raiders of the Lost Ark',)
('Die Hard',)
('Terminator 2: Judgment Day',)
('Yojimbo',)
('North by Northwest',)
('1917',)
('Spider-Man: Into the Spider-Verse',)
('Harakiri',)
('Gladiator',)
('The Matrix',)
('Kill Bill: Vol. 1',)
('Kantara',)
('K.G.F: Chapter 2',)
('Oldboy',)
('Seven Samurai',)

4) Display the gross collection of movies with the star Arnold.

In [41]:
# Execute the SELECT query and read the results into a DataFrame
query =cursor.execute("SELECT MOVIE_NAME, GROSS_COLLECTION FROM movies1 WHERE STAR_1 = 'Arnold Schwarzenegger' OR STAR_2 = 'Arnold Schwarzenegger' OR STAR_3 = 'Arnold Schwarzenegger' OR STAR_4 = 'Arnold Schwarzenegger'")
for i in query:
    print(i)

('Terminator 2: Judgment Day', '$204.84M')

5) Display all details of movies with comedy and action genres.

In [42]:
# Execute the SQL query
query=cursor.execute("SELECT * FROM movies1 WHERE GENRE_1 = 'Action'or'Comedy' or GENRE_2 = 'Comedy'or'Action' or GENRE_3 = 'Action'or'Comedy'")
for i in query:
    print(i)

('The Dark Knight', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 2717164, 'Action', 'Crime', 'Drama', '$534.86M', '12A')
('The Lord of the Rings: The Return of the King', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom', 1886427, 'Action', 'Adventure', 'Drama', '$377.85M', '12A')
('Inception', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe', 2411986, 'Action', 'Adventure', 'Sci-Fi', '$292.58M', '12A')
('The Lord of the Rings: The Fellowship of the Ring', 'Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean', 1915141, 'Action', 'Adventure', 'Drama', '$315.54M', 'PG')
('The Lord of the Rings: The Two Towers', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom', 1702734, 'Action', 'Adventure', 'Drama', '$342.55M', '12A')
('The Matrix', 'Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving', 1957049, 'Action', 'Sci-Fi', 'Nan', '$171.48M', '15')
('Star Wars: Episode V - The Empire Strikes Back', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams', 1320621, 'Action', 'Adventure', 'Fantasy', '$290.48M', 'U')
('Soorarai Pottru', 'Suriya', 'Paresh Rawal', 'Aparna Balamurali', 'Urvashi', 119458, 'Action', 'Drama', 'Nan', '$322.74M', '15')
('Star Wars: Episode IV - A New Hope', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness', 1393078, 'Action', 'Adventure', 'Fantasy', 'Nan', 'U')
('Terminator 2: Judgment Day', 'Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick', 1122619, 'Action', 'Sci-Fi', 'Nan', '$204.84M', '15')
('Seven Samurai', 'Toshir麓 Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki', 352730, 'Action', 'Drama', 'Nan', '$0.27M', 'A')
('Harakiri', 'Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsur麓 Tanba', 60924, 'Action', 'Drama', 'Mystery', '$19.50M', 'X')
('Sita Ramam', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth', 59767, 'Action', 'Drama', 'Mystery', 'Nan', '12A')
('Leon', 'Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello', 1188926, 'Action', 'Crime', 'Drama', 'Nan', '18')
('Gladiator', 'Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed', 1535607, 'Action', 'Adventure', 'Drama', '$187.71M', '15')
('Avengers: Endgame', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 1179125, 'Action', 'Adventure', 'Drama', '$858.37M', '12A')
('Raiders of the Lost Ark', 'Harrison Ford', 'Karen Allen', 'Paul Freeman', 'John Rhys-Davies', 985834, 'Action', 'Adventure', 'Nan', '$248.16M', 'A')
('Avengers: Infinity War', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans', 1122577, 'Action', 'Adventure', 'Sci-Fi', '$678.82M', '12A')
('Oldboy', 'Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok', 596103, 'Action', 'Drama', 'Mystery', '$0.71M', '18')
('The Dark Knight Rises', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman', 1740960, 'Action', 'Drama', 'Thriller', '$448.14M', '12A')
('Aliens', 'Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser', 732272, 'Action', 'Adventure', 'Sci-Fi', '$85.16M', 'U')
('Kaithi', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan', 36050, 'Action', 'Adventure', 'Crime', 'Nan', '12A')
('Asuran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy', 31171, 'Action', 'Drama', 'Nan', 'Nan', '12A')
('Top Gun: Maverick', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer', 588246, 'Action', 'Drama', 'Nan', 'Nan', '12A')
('Heat', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight', 675635, 'Action', 'Crime', 'Drama', '$718.73M', '15')
('Star Wars: Return of the Jedi', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams', 1077185, 'Action', 'Adventure', 'Fantasy', '$67.44M', 'U')
('North by Northwest', 'Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis', 334478, 'Action', 'Adventure', 'Mystery', '$2.38M', 'A')
('Kantara', 'Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda', 95359, 'Action', 'Adventure', 'Drama', '$13.28M', '15')
('Dangal', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra', 197234, 'Action', 'Biography', 'Drama', 'Nan', 'PG')
('K.G.F: Chapter 2', 'Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty', 139555, 'Action', 'Crime', 'Drama', '$12.39M', '15')
('Vikram', 'Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain', 63782, 'Action', 'Crime', 'Thriller', '$6.60M', '15')
('Raatchasan', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan', 46914, 'Action', 'Crime', 'Drama', 'Nan', 'UA')
('Shershaah', 'Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri', 124736, 'Action', 'Biography', 'Drama', 'Nan', '16')
('Guardians of the Galaxy Vol. 3', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff', 144022, 'Action', 'Adventure', 'Comedy', 'Nan', '12A')
('Spider-Man: No Way Home', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon', 796251, 'Action', 'Adventure', 'Fantasy', 'Nan', '12A')
('Jurassic Park', 'Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough', 1013472, 'Action', 'Adventure', 'Sci-Fi', '$804.75M', 'PG')
('Indiana Jones and the Last Crusade', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott', 770837, 'Action', 'Adventure', 'Nan', '$402.45M', 'PG')
('1917', 'Dean-Charles Chapman', 'George MacKay', 'Daniel Mays', 'Colin Firth', 620547, 'Action', 'Drama', 'War', '$197.17M', '15')
('Kill Bill: Vol. 1', 'Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen', 1140406, 'Action', 'Crime', 'Drama', '$159.23M', '18')
('Batman Begins', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson', 1502736, 'Action', 'Crime', 'Drama', '$70.10M', '12A')
('Die Hard', 'Bruce Willis', 'Alan Rickman', 'Bonnie Bedelia', 'Reginald VelJohnson', 901072, 'Action', 'Thriller', 'Nan', '$206.85M', '18')
('V for Vendetta', 'Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea', 1140465, 'Action', 'Drama', 'Sci-Fi', '$83.01M', '15')
('Ran', 'Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ry禄', 129096, 'Action', 'Drama', 'War', '$47.70M', '15')
('Gangs of Wasseypur', 'Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha', 99312, 'Action', 'Comedy', 'Crime', '$4.14M', '18')
('Vikram Vedha', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir', 47608, 'Action', 'Crime', 'Drama', 'Nan', '12A')
('Baahubali 2: The Conclusion', 'Prabhas', 'Rana Daggubati', 'Anushka Shetty', 'Tamannaah Bhatia', 106651, 'Action', 'Drama', 'Nan', 'Nan', '15')
('Yojimbo', 'Toshir麓 Mifune', 'Eijir麓 T麓no', 'Tatsuya Nakadai', 'Y麓ko Tsukasa', 125831, 'Action', 'Drama', 'Thriller', '$20.19M', 'A')

# SUB QUERY

1) Display all details from both tables where movie names are the same.

In [43]:
query = cursor.execute("SELECT m.*, m1.* FROM movies m JOIN movies1 m1 ON m.MOVIE_NAME = m1.MOVIE_NAME")

# Fetch the column names
column_names = [description[0] for description in query.description]

# Print the column names
print(column_names)

# Fetch all the results
results = query.fetchall()

# Print the results
for row in results:
    print(row)

['SNO', 'MOVIE_NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE', 'MOVIE_NAME', 'STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'VOTE', 'GENRE_1', 'GENRE_2', 'GENRE_3', 'GROSS_COLLECTION', 'CERTIFICATION']
('SNO.', 'MOVIE NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE\n', 'MOVIE NAME', 'STAR 1', 'STAR 2', 'STAR 3', 'STAR 4', 'VOTE', 'GENRE1', 'GENRE2', 'GENRE3', 'GROSS COLLECTION', 'CERTIFICATION')
(1, 'The Dark Knight', 'Christopher Nolan', 'Nan', '152 min', '(2008)', 9.0, 84, 'The Dark Knight', 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 2717164, 'Action', 'Crime', 'Drama', '$534.86M', '12A')
(2, 'The Lord of the Rings: The Return of the King', 'Peter Jackson', 'Nan', '201 min', '(2003)', 9.0, 94, 'The Lord of the Rings: The Return of the King', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom', 1886427, 'Action', 'Adventure', 'Drama', '$377.85M', '12A')
(3, 'Inception', 'Christopher Nolan', 'Nan', '148 min', '(2010)', 8.8, 74, 'Inception', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe', 2411986, 'Action', 'Adventure', 'Sci-Fi', '$292.58M', '12A')
(4, 'The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 'Nan', '178 min', '(2001)', 8.8, 92, 'The Lord of the Rings: The Fellowship of the Ring', 'Elijah Wood', 'Ian McKellen', 'Orlando Bloom', 'Sean Bean', 1915141, 'Action', 'Adventure', 'Drama', '$315.54M', 'PG')
(5, 'The Lord of the Rings: The Two Towers', 'Peter Jackson', 'Nan', '179 min', '(2002)', 8.8, 87, 'The Lord of the Rings: The Two Towers', 'Elijah Wood', 'Ian McKellen', 'Viggo Mortensen', 'Orlando Bloom', 1702734, 'Action', 'Adventure', 'Drama', '$342.55M', '12A')
(6, 'The Matrix', 'Lana Wachowski', 'Lilly Wachowski', '136 min', '(1999)', 8.7, 73, 'The Matrix', 'Keanu Reeves', 'Laurence Fishburne', 'Carrie-Anne Moss', 'Hugo Weaving', 1957049, 'Action', 'Sci-Fi', 'Nan', '$171.48M', '15')
(7, 'Star Wars: Episode V - The Empire Strikes Back', 'Irvin Kershner', 'Nan', '124 min', '(1980)', 8.7, 82, 'Star Wars: Episode V - The Empire Strikes Back', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams', 1320621, 'Action', 'Adventure', 'Fantasy', '$290.48M', 'U')
(8, 'Soorarai Pottru', 'Sudha Kongara', 'Nan', '153 min', '(2020)', 8.7, 'Nan\n', 'Soorarai Pottru', 'Suriya', 'Paresh Rawal', 'Aparna Balamurali', 'Urvashi', 119458, 'Action', 'Drama', 'Nan', '$322.74M', '15')
(9, 'Star Wars: Episode IV - A New Hope', 'George Lucas', 'Nan', '121 min', '(1977)', 8.6, 90, 'Star Wars: Episode IV - A New Hope', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness', 1393078, 'Action', 'Adventure', 'Fantasy', 'Nan', 'U')
(10, 'Terminator 2: Judgment Day', 'James Cameron', 'Nan', '137 min', '(1991)', 8.6, 75, 'Terminator 2: Judgment Day', 'Arnold Schwarzenegger', 'Linda Hamilton', 'Edward Furlong', 'Robert Patrick', 1122619, 'Action', 'Sci-Fi', 'Nan', '$204.84M', '15')
(11, 'Seven Samurai', 'Akira Kurosawa', 'Nan', '207 min', '(1954)', 8.6, 98, 'Seven Samurai', 'Toshir麓 Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki', 352730, 'Action', 'Drama', 'Nan', '$0.27M', 'A')
(12, 'Harakiri', 'Masaki Kobayashi', 'Nan', '133 min', '(1962)', 8.6, 85, 'Harakiri', 'Tatsuya Nakadai', 'Akira Ishihama', 'Shima Iwashita', 'Tetsur麓 Tanba', 60924, 'Action', 'Drama', 'Mystery', '$19.50M', 'X')
(13, 'Sita Ramam', 'Hanu Raghavapudi', 'Nan', '163 min', '(2022)', 8.6, 'Nan\n', 'Sita Ramam', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth', 59767, 'Action', 'Drama', 'Mystery', 'Nan', '12A')
(14, 'Leon', 'Luc Besson', 'Nan', '110 min', '(1994)', 8.5, 64, 'Leon', 'Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello', 1188926, 'Action', 'Crime', 'Drama', 'Nan', '18')
(15, 'Gladiator', 'Ridley Scott', 'Nan', '155 min', '(2000)', 8.5, 67, 'Gladiator', 'Russell Crowe', 'Joaquin Phoenix', 'Connie Nielsen', 'Oliver Reed', 1535607, 'Action', 'Adventure', 'Drama', '$187.71M', '15')
(16, 'Spider-Man: Into the Spider-Verse', 'Bob Persichetti', 'Peter Ramsey', '117 min', '(2018)', 8.4, 87, 'Spider-Man: Into the Spider-Verse', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali', 564092, 'Animation', 'Action', 'Adventure', '$190.24M', 'PG')
(17, 'Avengers: Endgame', 'Anthony Russo', 'Joe Russo', '181 min', '(2019)', 8.4, 78, 'Avengers: Endgame', 'Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 1179125, 'Action', 'Adventure', 'Drama', '$858.37M', '12A')
(18, 'Raiders of the Lost Ark', 'Steven Spielberg', 'Nan', '115 min', '(1981)', 8.4, 85, 'Raiders of the Lost Ark', 'Harrison Ford', 'Karen Allen', 'Paul Freeman', 'John Rhys-Davies', 985834, 'Action', 'Adventure', 'Nan', '$248.16M', 'A')
(19, 'Avengers: Infinity War', 'Anthony Russo', 'Joe Russo', '149 min', '(2018)', 8.4, 68, 'Avengers: Infinity War', 'Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans', 1122577, 'Action', 'Adventure', 'Sci-Fi', '$678.82M', '12A')
(20, 'Oldboy', 'Park Chan-wook', 'Nan', '101 min', '(2003)', 8.4, 77, 'Oldboy', 'Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong', 'Kim Byeong-Ok', 596103, 'Action', 'Drama', 'Mystery', '$0.71M', '18')
(21, 'The Dark Knight Rises', 'Christopher Nolan', 'Nan', '164 min', '(2012)', 8.4, 78, 'The Dark Knight Rises', 'Christian Bale', 'Tom Hardy', 'Anne Hathaway', 'Gary Oldman', 1740960, 'Action', 'Drama', 'Thriller', '$448.14M', '12A')
(22, 'Aliens', 'James Cameron', 'Nan', '137 min', '(1986)', 8.4, 84, 'Aliens', 'Sigourney Weaver', 'Michael Biehn', 'Carrie Henn', 'Paul Reiser', 732272, 'Action', 'Adventure', 'Sci-Fi', '$85.16M', 'U')
(23, 'Kaithi', 'Lokesh Kanagaraj', 'Nan', '145 min', '(2019)', 8.4, 'Nan\n', 'Kaithi', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan', 36050, 'Action', 'Adventure', 'Crime', 'Nan', '12A')
(24, 'Asuran', 'Vetrimaaran', 'Nan', '141 min', '(2019)', 8.4, 'Nan\n', 'Asuran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy', 31171, 'Action', 'Drama', 'Nan', 'Nan', '12A')
(25, 'Top Gun: Maverick', 'Joseph Kosinski', 'Nan', '130 min', '(2022)', 8.3, 78, 'Top Gun: Maverick', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer', 588246, 'Action', 'Drama', 'Nan', 'Nan', '12A')
(26, 'Heat', 'Michael Mann', 'Nan', '170 min', '(1995)', 8.3, 76, 'Heat', 'Al Pacino', 'Robert De Niro', 'Val Kilmer', 'Jon Voight', 675635, 'Action', 'Crime', 'Drama', '$718.73M', '15')
(27, 'Star Wars: Return of the Jedi', 'Richard Marquand', 'Nan', '131 min', '(1983)', 8.3, 58, 'Star Wars: Return of the Jedi', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams', 1077185, 'Action', 'Adventure', 'Fantasy', '$67.44M', 'U')
(28, 'Princess Mononoke', 'Hayao Miyazaki', 'Nan', '134 min', '(1997)', 8.3, 76, 'Princess Mononoke', 'Y麓ji Matsuda', 'Yuriko Ishida', 'Y禄ko Tanaka', 'Billy Crudup', 406580, 'Animation', 'Action', 'Adventure', '$309.13M', 'PG')
(29, 'North by Northwest', 'Alfred Hitchcock', 'Nan', '136 min', '(1959)', 8.3, 98, 'North by Northwest', 'Cary Grant', 'Eva Marie Saint', 'James Mason', 'Jessie Royce Landis', 334478, 'Action', 'Adventure', 'Mystery', '$2.38M', 'A')
(30, 'Kantara', 'Rishab Shetty', 'Nan', '148 min', '(2022)', 8.3, 64, 'Kantara', 'Rishab Shetty', 'Kishore Kumar G.', 'Achyuth Kumar', 'Sapthami Gowda', 95359, 'Action', 'Adventure', 'Drama', '$13.28M', '15')
(31, 'Dangal', 'Nitesh Tiwari', 'Nan', '161 min', '(2016)', 8.3, 'Nan\n', 'Dangal', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra', 197234, 'Action', 'Biography', 'Drama', 'Nan', 'PG')
(32, 'K.G.F: Chapter 2', 'Prashanth Neel', 'Nan', '168 min', '(2022)', 8.3, 'Nan\n', 'K.G.F: Chapter 2', 'Yash', 'Sanjay Dutt', 'Raveena Tandon', 'Srinidhi Shetty', 139555, 'Action', 'Crime', 'Drama', '$12.39M', '15')
(33, 'Vikram', 'Lokesh Kanagaraj', 'Nan', '175 min', '(2022)', 8.3, 'Nan\n', 'Vikram', 'Kamal Haasan', 'Vijay Sethupathi', 'Fahadh Faasil', 'Narain', 63782, 'Action', 'Crime', 'Thriller', '$6.60M', '15')
(34, 'Raatchasan', 'Ram Kumar', 'Nan', '170 min', '(2018)', 8.3, 'Nan\n', 'Raatchasan', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan', 46914, 'Action', 'Crime', 'Drama', 'Nan', 'UA')
(35, 'Shershaah', 'Vishnuvardhan', 'Nan', '135 min', '(2021)', 8.3, 'Nan\n', 'Shershaah', 'Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri', 124736, 'Action', 'Biography', 'Drama', 'Nan', '16')
(36, 'Guardians of the Galaxy Vol. 3', 'James Gunn', 'Nan', '150 min', '(2023)', 8.2, 'Nan\n', 'Guardians of the Galaxy Vol. 3', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff', 144022, 'Action', 'Adventure', 'Comedy', 'Nan', '12A')
(37, 'Spider-Man: No Way Home', 'Jon Watts', 'Nan', '148 min', '(2021)', 8.2, 71, 'Spider-Man: No Way Home', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon', 796251, 'Action', 'Adventure', 'Fantasy', 'Nan', '12A')
(38, 'Jurassic Park', 'Steven Spielberg', 'Nan', '127 min', '(1993)', 8.2, 68, 'Jurassic Park', 'Sam Neill', 'Laura Dern', 'Jeff Goldblum', 'Richard Attenborough', 1013472, 'Action', 'Adventure', 'Sci-Fi', '$804.75M', 'PG')
(39, 'Indiana Jones and the Last Crusade', 'Steven Spielberg', 'Nan', '127 min', '(1989)', 8.2, 65, 'Indiana Jones and the Last Crusade', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott', 770837, 'Action', 'Adventure', 'Nan', '$402.45M', 'PG')
(40, '1917', 'Sam Mendes', 'Nan', '119 min', '(2019)', 8.2, 78, '1917', 'Dean-Charles Chapman', 'George MacKay', 'Daniel Mays', 'Colin Firth', 620547, 'Action', 'Drama', 'War', '$197.17M', '15')
(41, 'Kill Bill: Vol. 1', 'Quentin Tarantino', 'Nan', '111 min', '(2003)', 8.2, 69, 'Kill Bill: Vol. 1', 'Uma Thurman', 'David Carradine', 'Daryl Hannah', 'Michael Madsen', 1140406, 'Action', 'Crime', 'Drama', '$159.23M', '18')
(42, 'Batman Begins', 'Christopher Nolan', 'Nan', '140 min', '(2005)', 8.2, 70, 'Batman Begins', 'Christian Bale', 'Michael Caine', 'Ken Watanabe', 'Liam Neeson', 1502736, 'Action', 'Crime', 'Drama', '$70.10M', '12A')
(43, 'Die Hard', 'John McTiernan', 'Nan', '132 min', '(1988)', 8.2, 72, 'Die Hard', 'Bruce Willis', 'Alan Rickman', 'Bonnie Bedelia', 'Reginald VelJohnson', 901072, 'Action', 'Thriller', 'Nan', '$206.85M', '18')
(44, 'V for Vendetta', 'James McTeigue', 'Nan', '132 min', '(2005)', 8.2, 62, 'V for Vendetta', 'Hugo Weaving', 'Natalie Portman', 'Rupert Graves', 'Stephen Rea', 1140465, 'Action', 'Drama', 'Sci-Fi', '$83.01M', '15')
(45, 'Demon Slayer the Movie: Mugen Train', 'Haruo Sotozaki', 'Nan', '117 min', '(2020)', 8.2, 72, 'Demon Slayer the Movie: Mugen Train', 'Natsuki Hanae', 'Akari Kit麓', 'Yoshitsugu Matsuoka', 'Hiro Shimono', 64273, 'Animation', 'Action', 'Adventure', '$70.51M', '15')
(46, 'Ran', 'Akira Kurosawa', 'Nan', '162 min', '(1985)', 8.2, 97, 'Ran', 'Tatsuya Nakadai', 'Akira Terao', 'Jinpachi Nezu', 'Daisuke Ry禄', 129096, 'Action', 'Drama', 'War', '$47.70M', '15')
(47, 'Gangs of Wasseypur', 'Anurag Kashyap', 'Nan', '321 min', '(2012)', 8.2, 89, 'Gangs of Wasseypur', 'Manoj Bajpayee', 'Nawazuddin Siddiqui', 'Tigmanshu Dhulia', 'Richa Chadha', 99312, 'Action', 'Comedy', 'Crime', '$4.14M', '18')
(48, 'Vikram Vedha', 'Gayatri', 'Pushkar', '147 min', '(2017)', 8.2, 'Nan\n', 'Vikram Vedha', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir', 47608, 'Action', 'Crime', 'Drama', 'Nan', '12A')
(49, 'Baahubali 2: The Conclusion', 'S.S. Rajamouli', 'Nan', '167 min', '(2017)', 8.2, 93, 'Baahubali 2: The Conclusion', 'Prabhas', 'Rana Daggubati', 'Anushka Shetty', 'Tamannaah Bhatia', 106651, 'Action', 'Drama', 'Nan', 'Nan', '15')
(50, 'Yojimbo', 'Akira Kurosawa', 'Nan', '110 min', '(1961)', 8.2, 'Nan\n', 'Yojimbo', 'Toshir麓 Mifune', 'Eijir麓 T麓no', 'Tatsuya Nakadai', 'Y麓ko Tsukasa', 125831, 'Action', 'Drama', 'Thriller', '$20.19M', 'A')

2)   Display all movie names, Director1,Director2, ratings, and gross collection where the genre is action.

In [44]:
query = cursor.execute("""
    SELECT m.MOVIE_NAME, m.DIRECTOR1, m.DIRECTOR2, m.RATING, m1.GROSS_COLLECTION
    FROM movies m
    JOIN movies1 m1 ON m.MOVIE_NAME = m1.MOVIE_NAME
    WHERE m1.GENRE_1 = 'Action' OR m1.GENRE_2 = 'Action' OR m1.GENRE_3 = 'Action'
""")

# Fetch the column names
column_names = [description[0] for description in query.description]

# Print the column names
print(column_names)

# Fetch all the results
results = query.fetchall()

# Print the results
for row in results:
    print(row)

['MOVIE_NAME', 'DIRECTOR1', 'DIRECTOR2', 'RATING', 'GROSS_COLLECTION']
('The Dark Knight', 'Christopher Nolan', 'Nan', 9.0, '$534.86M')
('The Lord of the Rings: The Return of the King', 'Peter Jackson', 'Nan', 9.0, '$377.85M')
('Inception', 'Christopher Nolan', 'Nan', 8.8, '$292.58M')
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 'Nan', 8.8, '$315.54M')
('The Lord of the Rings: The Two Towers', 'Peter Jackson', 'Nan', 8.8, '$342.55M')
('The Matrix', 'Lana Wachowski', 'Lilly Wachowski', 8.7, '$171.48M')
('Star Wars: Episode V - The Empire Strikes Back', 'Irvin Kershner', 'Nan', 8.7, '$290.48M')
('Soorarai Pottru', 'Sudha Kongara', 'Nan', 8.7, '$322.74M')
('Star Wars: Episode IV - A New Hope', 'George Lucas', 'Nan', 8.6, 'Nan')
('Terminator 2: Judgment Day', 'James Cameron', 'Nan', 8.6, '$204.84M')
('Seven Samurai', 'Akira Kurosawa', 'Nan', 8.6, '$0.27M')
('Harakiri', 'Masaki Kobayashi', 'Nan', 8.6, '$19.50M')
('Sita Ramam', 'Hanu Raghavapudi', 'Nan', 8.6, 'Nan')
('Leon', 'Luc Besson', 'Nan', 8.5, 'Nan')
('Gladiator', 'Ridley Scott', 'Nan', 8.5, '$187.71M')
('Spider-Man: Into the Spider-Verse', 'Bob Persichetti', 'Peter Ramsey', 8.4, '$190.24M')
('Avengers: Endgame', 'Anthony Russo', 'Joe Russo', 8.4, '$858.37M')
('Raiders of the Lost Ark', 'Steven Spielberg', 'Nan', 8.4, '$248.16M')
('Avengers: Infinity War', 'Anthony Russo', 'Joe Russo', 8.4, '$678.82M')
('Oldboy', 'Park Chan-wook', 'Nan', 8.4, '$0.71M')
('The Dark Knight Rises', 'Christopher Nolan', 'Nan', 8.4, '$448.14M')
('Aliens', 'James Cameron', 'Nan', 8.4, '$85.16M')
('Kaithi', 'Lokesh Kanagaraj', 'Nan', 8.4, 'Nan')
('Asuran', 'Vetrimaaran', 'Nan', 8.4, 'Nan')
('Top Gun: Maverick', 'Joseph Kosinski', 'Nan', 8.3, 'Nan')
('Heat', 'Michael Mann', 'Nan', 8.3, '$718.73M')
('Star Wars: Return of the Jedi', 'Richard Marquand', 'Nan', 8.3, '$67.44M')
('Princess Mononoke', 'Hayao Miyazaki', 'Nan', 8.3, '$309.13M')
('North by Northwest', 'Alfred Hitchcock', 'Nan', 8.3, '$2.38M')
('Kantara', 'Rishab Shetty', 'Nan', 8.3, '$13.28M')
('Dangal', 'Nitesh Tiwari', 'Nan', 8.3, 'Nan')
('K.G.F: Chapter 2', 'Prashanth Neel', 'Nan', 8.3, '$12.39M')
('Vikram', 'Lokesh Kanagaraj', 'Nan', 8.3, '$6.60M')
('Raatchasan', 'Ram Kumar', 'Nan', 8.3, 'Nan')
('Shershaah', 'Vishnuvardhan', 'Nan', 8.3, 'Nan')
('Guardians of the Galaxy Vol. 3', 'James Gunn', 'Nan', 8.2, 'Nan')
('Spider-Man: No Way Home', 'Jon Watts', 'Nan', 8.2, 'Nan')
('Jurassic Park', 'Steven Spielberg', 'Nan', 8.2, '$804.75M')
('Indiana Jones and the Last Crusade', 'Steven Spielberg', 'Nan', 8.2, '$402.45M')
('1917', 'Sam Mendes', 'Nan', 8.2, '$197.17M')
('Kill Bill: Vol. 1', 'Quentin Tarantino', 'Nan', 8.2, '$159.23M')
('Batman Begins', 'Christopher Nolan', 'Nan', 8.2, '$70.10M')
('Die Hard', 'John McTiernan', 'Nan', 8.2, '$206.85M')
('V for Vendetta', 'James McTeigue', 'Nan', 8.2, '$83.01M')
('Demon Slayer the Movie: Mugen Train', 'Haruo Sotozaki', 'Nan', 8.2, '$70.51M')
('Ran', 'Akira Kurosawa', 'Nan', 8.2, '$47.70M')
('Gangs of Wasseypur', 'Anurag Kashyap', 'Nan', 8.2, '$4.14M')
('Vikram Vedha', 'Gayatri', 'Pushkar', 8.2, 'Nan')
('Baahubali 2: The Conclusion', 'S.S. Rajamouli', 'Nan', 8.2, 'Nan')
('Yojimbo', 'Akira Kurosawa', 'Nan', 8.2, '$20.19M')

3)      Display all details from both tables with the highest gross collection.

In [45]:
query = cursor.execute("""
    SELECT m.*, m1.*
    FROM movies m
    JOIN movies1 m1 ON m.MOVIE_NAME = m1.MOVIE_NAME
    WHERE m1.GROSS_COLLECTION = (
        SELECT MAX(GROSS_COLLECTION)
        FROM movies1
    )
""")

# Fetch the column names
column_names = [description[0] for description in query.description]

# Print the column names
print(column_names)

# Fetch all the results
results = query.fetchall()

# Print the results
for row in results:
    print(row)

['SNO', 'MOVIE_NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE', 'MOVIE_NAME', 'STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'VOTE', 'GENRE_1', 'GENRE_2', 'GENRE_3', 'GROSS_COLLECTION', 'CERTIFICATION']
(9, 'Star Wars: Episode IV - A New Hope', 'George Lucas', 'Nan', '121 min', '(1977)', 8.6, 90, 'Star Wars: Episode IV - A New Hope', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Alec Guinness', 1393078, 'Action', 'Adventure', 'Fantasy', 'Nan', 'U')
(13, 'Sita Ramam', 'Hanu Raghavapudi', 'Nan', '163 min', '(2022)', 8.6, 'Nan\n', 'Sita Ramam', 'Dulquer Salmaan', 'Mrunal Thakur', 'Rashmika Mandanna', 'Sumanth', 59767, 'Action', 'Drama', 'Mystery', 'Nan', '12A')
(14, 'Leon', 'Luc Besson', 'Nan', '110 min', '(1994)', 8.5, 64, 'Leon', 'Jean Reno', 'Gary Oldman', 'Natalie Portman', 'Danny Aiello', 1188926, 'Action', 'Crime', 'Drama', 'Nan', '18')
(23, 'Kaithi', 'Lokesh Kanagaraj', 'Nan', '145 min', '(2019)', 8.4, 'Nan\n', 'Kaithi', 'Karthi', 'Narain', 'Arjun Das', 'George Maryan', 36050, 'Action', 'Adventure', 'Crime', 'Nan', '12A')
(24, 'Asuran', 'Vetrimaaran', 'Nan', '141 min', '(2019)', 8.4, 'Nan\n', 'Asuran', 'Dhanush', 'Manju Warrier', 'Prakash Raj', 'Pasupathy', 31171, 'Action', 'Drama', 'Nan', 'Nan', '12A')
(25, 'Top Gun: Maverick', 'Joseph Kosinski', 'Nan', '130 min', '(2022)', 8.3, 78, 'Top Gun: Maverick', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller', 'Val Kilmer', 588246, 'Action', 'Drama', 'Nan', 'Nan', '12A')
(31, 'Dangal', 'Nitesh Tiwari', 'Nan', '161 min', '(2016)', 8.3, 'Nan\n', 'Dangal', 'Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra', 197234, 'Action', 'Biography', 'Drama', 'Nan', 'PG')
(34, 'Raatchasan', 'Ram Kumar', 'Nan', '170 min', '(2018)', 8.3, 'Nan\n', 'Raatchasan', 'Vishnu Vishal', 'Amala Paul', 'Radha Ravi', 'Sangili Murugan', 46914, 'Action', 'Crime', 'Drama', 'Nan', 'UA')
(35, 'Shershaah', 'Vishnuvardhan', 'Nan', '135 min', '(2021)', 8.3, 'Nan\n', 'Shershaah', 'Sidharth Malhotra', 'Kiara Advani', 'Shiv Panditt', 'Pranay Pachauri', 124736, 'Action', 'Biography', 'Drama', 'Nan', '16')
(36, 'Guardians of the Galaxy Vol. 3', 'James Gunn', 'Nan', '150 min', '(2023)', 8.2, 'Nan\n', 'Guardians of the Galaxy Vol. 3', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', 'Pom Klementieff', 144022, 'Action', 'Adventure', 'Comedy', 'Nan', '12A')
(37, 'Spider-Man: No Way Home', 'Jon Watts', 'Nan', '148 min', '(2021)', 8.2, 71, 'Spider-Man: No Way Home', 'Tom Holland', 'Zendaya', 'Benedict Cumberbatch', 'Jacob Batalon', 796251, 'Action', 'Adventure', 'Fantasy', 'Nan', '12A')
(48, 'Vikram Vedha', 'Gayatri', 'Pushkar', '147 min', '(2017)', 8.2, 'Nan\n', 'Vikram Vedha', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir', 47608, 'Action', 'Crime', 'Drama', 'Nan', '12A')
(49, 'Baahubali 2: The Conclusion', 'S.S. Rajamouli', 'Nan', '167 min', '(2017)', 8.2, 93, 'Baahubali 2: The Conclusion', 'Prabhas', 'Rana Daggubati', 'Anushka Shetty', 'Tamannaah Bhatia', 106651, 'Action', 'Drama', 'Nan', 'Nan', '15')

4)      Display all details from both tables with the highest ratings

In [46]:
query = cursor.execute("""
    SELECT m.SNO, m.MOVIE_NAME, m.DIRECTOR1, m.DIRECTOR2, m.DURATION, m.YEAR, m.RATING, m.METSCORE, m1.STAR_1, m1.STAR_2, m1.STAR_3, m1.STAR_4, m1.VOTE, m1.GENRE_1, m1.GENRE_2, m1.GENRE_3, m1.GROSS_COLLECTION, m1.CERTIFICATION
    FROM movies m
    JOIN movies1 m1 ON m.MOVIE_NAME = m1.MOVIE_NAME
    WHERE CAST(m.RATING AS FLOAT) = (
        SELECT MAX(CAST(RATING AS FLOAT))
        FROM movies
    )
    ORDER BY CAST(m.RATING AS FLOAT) DESC
""")

# Fetch the column names
column_names = [description[0] for description in query.description]

# Print the column names
print(column_names)

# Fetch all the results
results = query.fetchall()

# Print the results
for row in results:
    print(row)

['SNO', 'MOVIE_NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE', 'STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'VOTE', 'GENRE_1', 'GENRE_2', 'GENRE_3', 'GROSS_COLLECTION', 'CERTIFICATION']
(1, 'The Dark Knight', 'Christopher Nolan', 'Nan', '152 min', '(2008)', 9.0, 84, 'Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 2717164, 'Action', 'Crime', 'Drama', '$534.86M', '12A')
(2, 'The Lord of the Rings: The Return of the King', 'Peter Jackson', 'Nan', '201 min', '(2003)', 9.0, 94, 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom', 1886427, 'Action', 'Adventure', 'Drama', '$377.85M', '12A')

5)      Display all details from both tables with the lowest gross collection and lowest ratings

In [47]:
query = cursor.execute("""
    SELECT m.SNO, m.MOVIE_NAME, m.DIRECTOR1, m.DIRECTOR2, m.DURATION, m.YEAR, m.RATING, m.METSCORE, 
           m1.STAR_1, m1.STAR_2, m1.STAR_3, m1.STAR_4, m1.VOTE, m1.GENRE_1, m1.GENRE_2, m1.GENRE_3, m1.GROSS_COLLECTION, m1.CERTIFICATION
    FROM movies m
    JOIN movies1 m1 ON m.MOVIE_NAME = m1.MOVIE_NAME
    WHERE m1.GROSS_COLLECTION = (SELECT MIN(GROSS_COLLECTION) FROM movies1)
    ORDER BY m.RATING ASC, m.MOVIE_NAME ASC
""")

# Fetch the column names
column_names = [description[0] for description in query.description]

# Print the column names
print(column_names)

# Fetch all the results
results = query.fetchall()

# Print the results
for row in results:
    print(row)

['SNO', 'MOVIE_NAME', 'DIRECTOR1', 'DIRECTOR2', 'DURATION', 'YEAR', 'RATING', 'METSCORE', 'STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'VOTE', 'GENRE_1', 'GENRE_2', 'GENRE_3', 'GROSS_COLLECTION', 'CERTIFICATION']
(11, 'Seven Samurai', 'Akira Kurosawa', 'Nan', '207 min', '(1954)', 8.6, 98, 'Toshir麓 Mifune', 'Takashi Shimura', 'Keiko Tsushima', 'Yukiko Shimazaki', 352730, 'Action', 'Drama', 'Nan', '$0.27M', 'A')

In [49]:
conn.close()

# SOLVE THE QUERY WITH THE PANDAS

1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [50]:
df1

,SNO.,MOVIE NAME,DIRECTOR1,DIRECTOR2,DURATION,YEAR,RATING,METSCORE
0,1.,The Dark Knight,Christopher Nolan,Nan,152 min,(2008),9.0,84
1,2.,The Lord of the Rings: The Return of the King,Peter Jackson,Nan,201 min,(2003),9.0,94
2,3.,Inception,Christopher Nolan,Nan,148 min,(2010),8.8,74
3,4.,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,Nan,178 min,(2001),8.8,92
4,5.,The Lord of the Rings: The Two Towers,Peter Jackson,Nan,179 min,(2002),8.8,87
5,6.,The Matrix,Lana Wachowski,Lilly Wachowski,136 min,(1999),8.7,73
6,7.,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Nan,124 min,(1980),8.7,82
7,8.,Soorarai Pottru,Sudha Kongara,Nan,153 min,(2020),8.7,Nan
8,9.,Star Wars: Episode IV - A New Hope,George Lucas,Nan,121 min,(1977),8.6,90
9,10.,Terminator 2: Judgment Day,James Cameron,Nan,137 min,(1991),8.6,75
10,11.,Seven Samurai,Akira Kurosawa,Nan,207 min,(1954),8.6,98
11,12.,Harakiri,Masaki Kobayashi,Nan,133 min,(1962),8.6,85
12,13.,Sita Ramam,Hanu Raghavapudi,Nan,163 min,(2022),8.6,Nan
13,14.,Leon,Luc Besson,Nan,110 min,(1994),8.5,64
14,15.,Gladiator,Ridley Scott,Nan,155 min,(2000),8.5,67
15,16.,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,117 min,(2018),8.4,87
16,17.,Avengers: Endgame,Anthony Russo,Joe Russo,181 min,(2019),8.4,78
17,18.,Raiders of the Lost Ark,Steven Spielberg,Nan,115 min,(1981),8.4,85
18,19.,Avengers: Infinity War,Anthony Russo,Joe Russo,149 min,(2018),8.4,68
19,20.,Oldboy,Park Chan-wook,Nan,101 min,(2003),8.4,77
20,21.,The Dark Knight Rises,Christopher Nolan,Nan,164 min,(2012),8.4,78
21,22.,Aliens,James Cameron,Nan,137 min,(1986),8.4,84
22,23.,Kaithi,Lokesh Kanagaraj,Nan,145 min,(2019),8.4,Nan
23,24.,Asuran,Vetrimaaran,Nan,141 min,(2019),8.4,Nan
24,25.,Top Gun: Maverick,Joseph Kosinski,Nan,130 min,(2022),8.3,78
25,26.,Heat,Michael Mann,Nan,170 min,(1995),8.3,76
26,27.,Star Wars: Return of the Jedi,Richard Marquand,Nan,131 min,(1983),8.3,58
27,28.,Princess Mononoke,Hayao Miyazaki,Nan,134 min,(1997),8.3,76
28,29.,North by Northwest,Alfred Hitchcock,Nan,136 min,(1959),8.3,98
29,30.,Kantara,Rishab Shetty,Nan,148 min,(2022),8.3,64
30,31.,Dangal,Nitesh Tiwari,Nan,161 min,(2016),8.3,Nan
31,32.,K.G.F: Chapter 2,Prashanth Neel,Nan,168 min,(2022),8.3,Nan
32,33.,Vikram,Lokesh Kanagaraj,Nan,175 min,(2022),8.3,Nan
33,34.,Raatchasan,Ram Kumar,Nan,170 min,(2018),8.3,Nan
34,35.,Shershaah,Vishnuvardhan,Nan,135 min,(2021),8.3,Nan
35,36.,Guardians of the Galaxy Vol. 3,James Gunn,Nan,150 min,(2023),8.2,Nan
36,37.,Spider-Man: No Way Home,Jon Watts,Nan,148 min,(2021),8.2,71
37,38.,Jurassic Park,Steven Spielberg,Nan,127 min,(1993),8.2,68
38,39.,Indiana Jones and the Last Crusade,Steven Spielberg,Nan,127 min,(1989),8.2,65
39,40.,1917,Sam Mendes,Nan,119 min,(2019),8.2,78
40,41.,Kill Bill: Vol. 1,Quentin Tarantino,Nan,111 min,(2003),8.2,69
41,42.,Batman Begins,Christopher Nolan,Nan,140 min,(2005),8.2,70
42,43.,Die Hard,John McTiernan,Nan,132 min,(1988),8.2,72
43,44.,V for Vendetta,James McTeigue,Nan,132 min,(2005),8.2,62
44,45.,Demon Slayer the Movie: Mugen Train,Haruo Sotozaki,Nan,117 min,(2020),8.2,72
45,46.,Ran,Akira Kurosawa,Nan,162 min,(1985),8.2,97
46,47.,Gangs of Wasseypur,Anurag Kashyap,Nan,321 min,(2012),8.2,89
47,48.,Vikram Vedha,Gayatri,Pushkar,147 min,(2017),8.2,Nan
48,49.,Baahubali 2: The Conclusion,S.S. Rajamouli,Nan,167 min,(2017),8.2,93
49,50.,Yojimbo,Akira Kurosawa,Nan,110 min,(1961),8.2,Nan

In [52]:
# Filter the DataFrame for movies created by Christopher and Matt Reeves
directors = ['Christopher Nolan', 'Matt Reeves']
filtered_df = df1[df1['DIRECTOR1'].isin(directors) | df1['DIRECTOR2'].isin(directors)]

# Display all the details of the filtered movies
print(filtered_df)

   SNO.             MOVIE NAME          DIRECTOR1 DIRECTOR2 DURATION    YEAR  \
0    1.        The Dark Knight  Christopher Nolan       Nan  152 min  (2008)
2    3.              Inception  Christopher Nolan       Nan  148 min  (2010)
20  21.  The Dark Knight Rises  Christopher Nolan       Nan  164 min  (2012)
41  42.          Batman Begins  Christopher Nolan       Nan  140 min  (2005)

   RATING METSCORE
0     9.0       84
2     8.8       74
20    8.4       78
41    8.2       70

2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [53]:
import pandas as pd

# Filter the DataFrame for movies with duration between 140 and 190 minutes
filtered_df = df1[(df1['DURATION'].str.contains('min')) & (df1['DURATION'].str.extract('(\d+)', expand=False).astype(int).between(140, 190))]

# Display all the details of the filtered movies
print(filtered_df)

   SNO.                                         MOVIE NAME          DIRECTOR1  \
0    1.                                    The Dark Knight  Christopher Nolan
2    3.                                          Inception  Christopher Nolan
3    4.  The Lord of the Rings: The Fellowship of the Ring      Peter Jackson
4    5.              The Lord of the Rings: The Two Towers      Peter Jackson
7    8.                                    Soorarai Pottru      Sudha Kongara
12  13.                                         Sita Ramam   Hanu Raghavapudi
14  15.                                          Gladiator       Ridley Scott
16  17.                                  Avengers: Endgame      Anthony Russo
18  19.                             Avengers: Infinity War      Anthony Russo
20  21.                              The Dark Knight Rises  Christopher Nolan
22  23.                                             Kaithi   Lokesh Kanagaraj
23  24.                                             Asuran        Vetrimaaran
25  26.                                               Heat       Michael Mann
29  30.                                            Kantara      Rishab Shetty
30  31.                                             Dangal      Nitesh Tiwari
31  32.                                   K.G.F: Chapter 2     Prashanth Neel
32  33.                                             Vikram   Lokesh Kanagaraj
33  34.                                         Raatchasan          Ram Kumar
35  36.                     Guardians of the Galaxy Vol. 3         James Gunn
36  37.                            Spider-Man: No Way Home          Jon Watts
41  42.                                      Batman Begins  Christopher Nolan
45  46.                                                Ran     Akira Kurosawa
47  48.                                       Vikram Vedha            Gayatri
48  49.                        Baahubali 2: The Conclusion     S.S. Rajamouli

    DIRECTOR2 DURATION    YEAR RATING METSCORE
0         Nan  152 min  (2008)    9.0       84
2         Nan  148 min  (2010)    8.8       74
3         Nan  178 min  (2001)    8.8       92
4         Nan  179 min  (2002)    8.8       87
7         Nan  153 min  (2020)    8.7      Nan
12        Nan  163 min  (2022)    8.6      Nan
14        Nan  155 min  (2000)    8.5       67
16  Joe Russo  181 min  (2019)    8.4       78
18  Joe Russo  149 min  (2018)    8.4       68
20        Nan  164 min  (2012)    8.4       78
22        Nan  145 min  (2019)    8.4      Nan
23        Nan  141 min  (2019)    8.4      Nan
25        Nan  170 min  (1995)    8.3       76
29        Nan  148 min  (2022)    8.3       64
30        Nan  161 min  (2016)    8.3      Nan
31        Nan  168 min  (2022)    8.3      Nan
32        Nan  175 min  (2022)    8.3      Nan
33        Nan  170 min  (2018)    8.3      Nan
35        Nan  150 min  (2023)    8.2      Nan
36        Nan  148 min  (2021)    8.2       71
41        Nan  140 min  (2005)    8.2       70
45        Nan  162 min  (1985)    8.2       97
47    Pushkar  147 min  (2017)    8.2      Nan
48        Nan  167 min  (2017)    8.2       93

3) Display all details of movies with ratings above 7 in ascending order.

In [55]:
import pandas as pd

# Convert 'RATING' column to numeric data type
df1['RATING'] = pd.to_numeric(df1['RATING'], errors='coerce')

# Filter the DataFrame for movies with ratings above 7
filtered_df = df1[df1['RATING'] > 7]

# Sort the filtered DataFrame in ascending order by ratings
filtered_df = filtered_df.sort_values('RATING')

# Display all the details of the filtered movies
print(filtered_df)

   SNO.                                         MOVIE NAME          DIRECTOR1  \
49  50.                                            Yojimbo     Akira Kurosawa
35  36.                     Guardians of the Galaxy Vol. 3         James Gunn
37  38.                                      Jurassic Park   Steven Spielberg
38  39.                 Indiana Jones and the Last Crusade   Steven Spielberg
39  40.                                               1917         Sam Mendes
40  41.                                  Kill Bill: Vol. 1  Quentin Tarantino
41  42.                                      Batman Begins  Christopher Nolan
36  37.                            Spider-Man: No Way Home          Jon Watts
43  44.                                     V for Vendetta     James McTeigue
42  43.                                           Die Hard     John McTiernan
47  48.                                       Vikram Vedha            Gayatri
48  49.                        Baahubali 2: The Conclusion     S.S. Rajamouli
45  46.                                                Ran     Akira Kurosawa
44  45.                Demon Slayer the Movie: Mugen Train     Haruo Sotozaki
46  47.                                 Gangs of Wasseypur     Anurag Kashyap
25  26.                                               Heat       Michael Mann
34  35.                                          Shershaah      Vishnuvardhan
33  34.                                         Raatchasan          Ram Kumar
31  32.                                   K.G.F: Chapter 2     Prashanth Neel
30  31.                                             Dangal      Nitesh Tiwari
29  30.                                            Kantara      Rishab Shetty
28  29.                                 North by Northwest   Alfred Hitchcock
27  28.                                  Princess Mononoke     Hayao Miyazaki
26  27.                      Star Wars: Return of the Jedi   Richard Marquand
32  33.                                             Vikram   Lokesh Kanagaraj
24  25.                                  Top Gun: Maverick    Joseph Kosinski
22  23.                                             Kaithi   Lokesh Kanagaraj
21  22.                                             Aliens      James Cameron
20  21.                              The Dark Knight Rises  Christopher Nolan
19  20.                                             Oldboy     Park Chan-wook
18  19.                             Avengers: Infinity War      Anthony Russo
17  18.                            Raiders of the Lost Ark   Steven Spielberg
16  17.                                  Avengers: Endgame      Anthony Russo
15  16.                  Spider-Man: Into the Spider-Verse    Bob Persichetti
23  24.                                             Asuran        Vetrimaaran
14  15.                                          Gladiator       Ridley Scott
13  14.                                               Leon         Luc Besson
8    9.                 Star Wars: Episode IV - A New Hope       George Lucas
9   10.                         Terminator 2: Judgment Day      James Cameron
11  12.                                           Harakiri   Masaki Kobayashi
12  13.                                         Sita Ramam   Hanu Raghavapudi
10  11.                                      Seven Samurai     Akira Kurosawa
7    8.                                    Soorarai Pottru      Sudha Kongara
6    7.     Star Wars: Episode V - The Empire Strikes Back     Irvin Kershner
5    6.                                         The Matrix     Lana Wachowski
4    5.              The Lord of the Rings: The Two Towers      Peter Jackson
3    4.  The Lord of the Rings: The Fellowship of the Ring      Peter Jackson
2    3.                                          Inception  Christopher Nolan
1    2.      The Lord of the Rings: The Return of the King      Peter Jackson
0    1.                                    The Dark Knight  Christopher Nolan

          DIRECTOR2 DURATION    YEAR  RATING METSCORE
49              Nan  110 min  (1961)     8.2      Nan
35              Nan  150 min  (2023)     8.2      Nan
37              Nan  127 min  (1993)     8.2       68
38              Nan  127 min  (1989)     8.2       65
39              Nan  119 min  (2019)     8.2       78
40              Nan  111 min  (2003)     8.2       69
41              Nan  140 min  (2005)     8.2       70
36              Nan  148 min  (2021)     8.2       71
43              Nan  132 min  (2005)     8.2       62
42              Nan  132 min  (1988)     8.2       72
47          Pushkar  147 min  (2017)     8.2      Nan
48              Nan  167 min  (2017)     8.2       93
45              Nan  162 min  (1985)     8.2       97
44              Nan  117 min  (2020)     8.2       72
46              Nan  321 min  (2012)     8.2       89
25              Nan  170 min  (1995)     8.3       76
34              Nan  135 min  (2021)     8.3      Nan
33              Nan  170 min  (2018)     8.3      Nan
31              Nan  168 min  (2022)     8.3      Nan
30              Nan  161 min  (2016)     8.3      Nan
29              Nan  148 min  (2022)     8.3       64
28              Nan  136 min  (1959)     8.3       98
27              Nan  134 min  (1997)     8.3       76
26              Nan  131 min  (1983)     8.3       58
32              Nan  175 min  (2022)     8.3      Nan
24              Nan  130 min  (2022)     8.3       78
22              Nan  145 min  (2019)     8.4      Nan
21              Nan  137 min  (1986)     8.4       84
20              Nan  164 min  (2012)     8.4       78
19              Nan  101 min  (2003)     8.4       77
18        Joe Russo  149 min  (2018)     8.4       68
17              Nan  115 min  (1981)     8.4       85
16        Joe Russo  181 min  (2019)     8.4       78
15     Peter Ramsey  117 min  (2018)     8.4       87
23              Nan  141 min  (2019)     8.4      Nan
14              Nan  155 min  (2000)     8.5       67
13              Nan  110 min  (1994)     8.5       64
8               Nan  121 min  (1977)     8.6       90
9               Nan  137 min  (1991)     8.6       75
11              Nan  133 min  (1962)     8.6       85
12              Nan  163 min  (2022)     8.6      Nan
10              Nan  207 min  (1954)     8.6       98
7               Nan  153 min  (2020)     8.7      Nan
6               Nan  124 min  (1980)     8.7       82
5   Lilly Wachowski  136 min  (1999)     8.7       73
4               Nan  179 min  (2002)     8.8       87
3               Nan  178 min  (2001)     8.8       92
2               Nan  148 min  (2010)     8.8       74
1               Nan  201 min  (2003)     9.0       94
0               Nan  152 min  (2008)     9.0       84

4) Display all movie names in descending order.

In [56]:
import pandas as pd

# Sort the DataFrame in descending order by movie names
sorted_df = df1.sort_values('MOVIE NAME', ascending=False)

# Display only the movie names from the sorted DataFrame
movie_names = sorted_df['MOVIE NAME'].tolist()

# Display the movie names in descending order
for name in movie_names:
    print(name)

Yojimbo
Vikram Vedha
Vikram
V for Vendetta
Top Gun: Maverick
The Matrix
The Lord of the Rings: The Two Towers
The Lord of the Rings: The Return of the King
The Lord of the Rings: The Fellowship of the Ring
The Dark Knight Rises
The Dark Knight
Terminator 2: Judgment Day
Star Wars: Return of the Jedi
Star Wars: Episode V - The Empire Strikes Back
Star Wars: Episode IV - A New Hope
Spider-Man: No Way Home
Spider-Man: Into the Spider-Verse
Soorarai Pottru
Sita Ramam
Shershaah
Seven Samurai
Ran
Raiders of the Lost Ark
Raatchasan
Princess Mononoke
Oldboy
North by Northwest
Leon
Kill Bill: Vol. 1
Kantara
Kaithi
K.G.F: Chapter 2
Jurassic Park
Indiana Jones and the Last Crusade
Inception
Heat
Harakiri
Guardians of the Galaxy Vol. 3
Gladiator
Gangs of Wasseypur
Die Hard
Demon Slayer the Movie: Mugen Train
Dangal
Batman Begins
Baahubali 2: The Conclusion
Avengers: Infinity War
Avengers: Endgame
Asuran
Aliens
1917

5) Display movie name starts with P and their rating is greater than 7.

In [57]:
import pandas as pd

# Filter the DataFrame for movie names starting with 'P' and rating > 7
filtered_df = df1[(df1['MOVIE NAME'].str.startswith('P')) & (df1['RATING'] > 7)]

# Display only the movie names from the filtered DataFrame
movie_names = filtered_df['MOVIE NAME'].tolist()

# Display the movie names
for name in movie_names:
    print(name)

Princess Mononoke

# TABLE 2

In [58]:
df2

,MOVIE NAME,STAR 1,STAR 2,STAR 3,STAR 4,VOTE,GENRE1,GENRE2,GENRE3,GROSS COLLECTION,CERTIFICATION
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2717164,Action,Crime,Drama,$534.86M,12A
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1886427,Action,Adventure,Drama,$377.85M,12A
2,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2411986,Action,Adventure,Sci-Fi,$292.58M,12A
3,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1915141,Action,Adventure,Drama,$315.54M,PG
4,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1702734,Action,Adventure,Drama,$342.55M,12A
5,The Matrix,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Hugo Weaving,1957049,Action,Sci-Fi,Nan,$171.48M,15
6,Star Wars: Episode V - The Empire Strikes Back,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1320621,Action,Adventure,Fantasy,$290.48M,U
7,Soorarai Pottru,Suriya,Paresh Rawal,Aparna Balamurali,Urvashi,119458,Action,Drama,Nan,$322.74M,15
8,Star Wars: Episode IV - A New Hope,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1393078,Action,Adventure,Fantasy,Nan,U
9,Terminator 2: Judgment Day,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,1122619,Action,Sci-Fi,Nan,$204.84M,15
10,Seven Samurai,Toshir么 Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,352730,Action,Drama,Nan,$0.27M,A
11,Harakiri,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsur么 Tanba,60924,Action,Drama,Mystery,$19.50M,X
12,Sita Ramam,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,59767,Action,Drama,Mystery,Nan,12A
13,Leon,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1188926,Action,Crime,Drama,Nan,18
14,Gladiator,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1535607,Action,Adventure,Drama,$187.71M,15
15,Spider-Man: Into the Spider-Verse,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,564092,Animation,Action,Adventure,$190.24M,PG
16,Avengers: Endgame,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,1179125,Action,Adventure,Drama,$858.37M,12A
17,Raiders of the Lost Ark,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,985834,Action,Adventure,Nan,$248.16M,A
18,Avengers: Infinity War,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,1122577,Action,Adventure,Sci-Fi,$678.82M,12A
19,Oldboy,Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Byeong-Ok,596103,Action,Drama,Mystery,$0.71M,18
20,The Dark Knight Rises,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1740960,Action,Drama,Thriller,$448.14M,12A
21,Aliens,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,732272,Action,Adventure,Sci-Fi,$85.16M,U
22,Kaithi,Karthi,Narain,Arjun Das,George Maryan,36050,Action,Adventure,Crime,Nan,12A
23,Asuran,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,31171,Action,Drama,Nan,Nan,12A
24,Top Gun: Maverick,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,588246,Action,Drama,Nan,Nan,12A
25,Heat,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,675635,Action,Crime,Drama,$718.73M,15
26,Star Wars: Return of the Jedi,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1077185,Action,Adventure,Fantasy,$67.44M,U
27,Princess Mononoke,Y么ji Matsuda,Yuriko Ishida,Y没ko Tanaka,Billy Crudup,406580,Animation,Action,Adventure,$309.13M,PG
28,North by Northwest,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,334478,Action,Adventure,Mystery,$2.38M,A
29,Kantara,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,95359,Action,Adventure,Drama,$13.28M,15
30,Dangal,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,197234,Action,Biography,Drama,Nan,PG
31,K.G.F: Chapter 2,Yash,Sanjay Dutt,Raveena Tandon,Srinidhi Shetty,139555,Action,Crime,Drama,$12.39M,15
32,Vikram,Kamal Haasan,Vijay Sethupathi,Fahadh Faasil,Narain,63782,Action,Crime,Thriller,$6.60M,15
33,Raatchasan,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,46914,Action,Crime,Drama,Nan,UA
34,Shershaah,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,124736,Action,Biography,Drama,Nan,16
35,Guardians of the Galaxy Vol. 3,Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff,144022,Action,Adventure,Comedy,Nan,12A
36,Spider-Man: No Way Home,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,796251,Action,Adventure,Fantasy,Nan,12A
37,Jurassic Park,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,1013472,Action,Adventure,Sci-Fi,$804.75M,PG
38,Indiana Jones and the Last Crusade,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,770837,Action,Adventure,Nan,$402.45M,PG
39,1917,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,620547,Action,Drama,War,$197.17M,15
40,Kill Bill: Vol. 1,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1140406,Action,Crime,Drama,$159.23M,18
41,Batman Begins,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1502736,Action,Crime,Drama,$70.10M,12A
42,Die Hard,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,901072,Action,Thriller,Nan,$206.85M,18
43,V for Vendetta,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1140465,Action,Drama,Sci-Fi,$83.01M,15
44,Demon Slayer the Movie: Mugen Train,Natsuki Hanae,Akari Kit么,Yoshitsugu Matsuoka,Hiro Shimono,64273,Animation,Action,Adventure,$70.51M,15
45,Ran,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke Ry没,129096,Action,Drama,War,$47.70M,15
46,Gangs of Wasseypur,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,99312,Action,Comedy,Crime,$4.14M,18
47,Vikram Vedha,Madhavan,Vijay Sethupathi,Shraddha Srinath,Kathir,47608,Action,Crime,Drama,Nan,12A
48,Baahubali 2: The Conclusion,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,106651,Action,Drama,Nan,Nan,15
49,Yojimbo,Toshir么 Mifune,Eijir么 T么no,Tatsuya Nakadai,Y么ko Tsukasa,125831,Action,Drama,Thriller,$20.19M,A

1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [60]:
arnold_movies = df2[df2['STAR 1'] == 'Arnold Schwarzenegger']['MOVIE NAME'].sort_values(ascending=True)
print(arnold_movies)

9    Terminator 2: Judgment Day
Name: MOVIE NAME, dtype: object

2) Display all details of the movie with the highest number of votes.

In [61]:
movie_highest_votes = df2[df2['VOTE'] == df2['VOTE'].max()]
print(movie_highest_votes)

        MOVIE NAME          STAR 1        STAR 2         STAR 3  \
0  The Dark Knight  Christian Bale  Heath Ledger  Aaron Eckhart

          STAR 4     VOTE  GENRE1 GENRE2 GENRE3 GROSS COLLECTION CERTIFICATION
0  Michael Caine  2717164  Action  Crime  Drama         $534.86M           12A

3) Display movie names with gross collections in descending order.

In [64]:
movies_sorted_by_gross = df2.sort_values('GROSS COLLECTION', ascending=False)['MOVIE NAME']
print(movies_sorted_by_gross)

34                                            Shershaah
36                              Spider-Man: No Way Home
24                                    Top Gun: Maverick
30                                               Dangal
33                                           Raatchasan
13                                                 Leon
12                                           Sita Ramam
23                                               Asuran
35                       Guardians of the Galaxy Vol. 3
22                                               Kaithi
8                    Star Wars: Episode IV - A New Hope
47                                         Vikram Vedha
48                          Baahubali 2: The Conclusion
16                                    Avengers: Endgame
21                                               Aliens
43                                       V for Vendetta
37                                        Jurassic Park
25                                                 Heat
44                  Demon Slayer the Movie: Mugen Train
41                                        Batman Begins
18                               Avengers: Infinity War
26                        Star Wars: Return of the Jedi
32                                               Vikram
0                                       The Dark Knight
45                                                  Ran
20                                The Dark Knight Rises
38                   Indiana Jones and the Last Crusade
46                                   Gangs of Wasseypur
1         The Lord of the Rings: The Return of the King
4                 The Lord of the Rings: The Two Towers
7                                       Soorarai Pottru
3     The Lord of the Rings: The Fellowship of the Ring
27                                    Princess Mononoke
2                                             Inception
6        Star Wars: Episode V - The Empire Strikes Back
17                              Raiders of the Lost Ark
42                                             Die Hard
9                            Terminator 2: Judgment Day
49                                              Yojimbo
28                                   North by Northwest
39                                                 1917
15                    Spider-Man: Into the Spider-Verse
11                                             Harakiri
14                                            Gladiator
5                                            The Matrix
40                                    Kill Bill: Vol. 1
29                                              Kantara
31                                     K.G.F: Chapter 2
19                                               Oldboy
10                                        Seven Samurai
Name: MOVIE NAME, dtype: object

4) Display the gross collection of movies with the star Arnold.

In [65]:
arnold_movies_gross = df2[df2['STAR 1'] == 'Arnold Schwarzenegger']['GROSS COLLECTION']
print(arnold_movies_gross)

9    $204.84M
Name: GROSS COLLECTION, dtype: object

5) Display all details of movies with comedy and action genres.

In [69]:
comedy_action_movies = df2[(df2['GENRE1']=='Action') & (df2['GENRE2']=='Comedy')]
print(comedy_action_movies)

            MOVIE NAME          STAR 1               STAR 2            STAR 3  \
46  Gangs of Wasseypur  Manoj Bajpayee  Nawazuddin Siddiqui  Tigmanshu Dhulia

          STAR 4   VOTE  GENRE1  GENRE2 GENRE3 GROSS COLLECTION CERTIFICATION
46  Richa Chadha  99312  Action  Comedy  Crime           $4.14M            18

# MERGE BOTH THE DATAFRAME

In [78]:
df = df1.merge(df2, on='MOVIE NAME')
df

,SNO.,MOVIE NAME,DIRECTOR1,DIRECTOR2,DURATION,YEAR,RATING,METSCORE,STAR 1,STAR 2,STAR 3,STAR 4,VOTE,GENRE1,GENRE2,GENRE3,GROSS COLLECTION,CERTIFICATION
0,1.,The Dark Knight,Christopher Nolan,Nan,152 min,(2008),9.0,84,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2717164,Action,Crime,Drama,$534.86M,12A
1,2.,The Lord of the Rings: The Return of the King,Peter Jackson,Nan,201 min,(2003),9.0,94,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1886427,Action,Adventure,Drama,$377.85M,12A
2,3.,Inception,Christopher Nolan,Nan,148 min,(2010),8.8,74,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2411986,Action,Adventure,Sci-Fi,$292.58M,12A
3,4.,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,Nan,178 min,(2001),8.8,92,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1915141,Action,Adventure,Drama,$315.54M,PG
4,5.,The Lord of the Rings: The Two Towers,Peter Jackson,Nan,179 min,(2002),8.8,87,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1702734,Action,Adventure,Drama,$342.55M,12A
5,6.,The Matrix,Lana Wachowski,Lilly Wachowski,136 min,(1999),8.7,73,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Hugo Weaving,1957049,Action,Sci-Fi,Nan,$171.48M,15
6,7.,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Nan,124 min,(1980),8.7,82,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1320621,Action,Adventure,Fantasy,$290.48M,U
7,8.,Soorarai Pottru,Sudha Kongara,Nan,153 min,(2020),8.7,Nan,Suriya,Paresh Rawal,Aparna Balamurali,Urvashi,119458,Action,Drama,Nan,$322.74M,15
8,9.,Star Wars: Episode IV - A New Hope,George Lucas,Nan,121 min,(1977),8.6,90,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1393078,Action,Adventure,Fantasy,Nan,U
9,10.,Terminator 2: Judgment Day,James Cameron,Nan,137 min,(1991),8.6,75,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,1122619,Action,Sci-Fi,Nan,$204.84M,15
10,11.,Seven Samurai,Akira Kurosawa,Nan,207 min,(1954),8.6,98,Toshir么 Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,352730,Action,Drama,Nan,$0.27M,A
11,12.,Harakiri,Masaki Kobayashi,Nan,133 min,(1962),8.6,85,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsur么 Tanba,60924,Action,Drama,Mystery,$19.50M,X
12,13.,Sita Ramam,Hanu Raghavapudi,Nan,163 min,(2022),8.6,Nan,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,59767,Action,Drama,Mystery,Nan,12A
13,14.,Leon,Luc Besson,Nan,110 min,(1994),8.5,64,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1188926,Action,Crime,Drama,Nan,18
14,15.,Gladiator,Ridley Scott,Nan,155 min,(2000),8.5,67,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1535607,Action,Adventure,Drama,$187.71M,15
15,16.,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,117 min,(2018),8.4,87,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,564092,Animation,Action,Adventure,$190.24M,PG
16,17.,Avengers: Endgame,Anthony Russo,Joe Russo,181 min,(2019),8.4,78,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,1179125,Action,Adventure,Drama,$858.37M,12A
17,18.,Raiders of the Lost Ark,Steven Spielberg,Nan,115 min,(1981),8.4,85,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,985834,Action,Adventure,Nan,$248.16M,A
18,19.,Avengers: Infinity War,Anthony Russo,Joe Russo,149 min,(2018),8.4,68,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,1122577,Action,Adventure,Sci-Fi,$678.82M,12A
19,20.,Oldboy,Park Chan-wook,Nan,101 min,(2003),8.4,77,Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Byeong-Ok,596103,Action,Drama,Mystery,$0.71M,18
20,21.,The Dark Knight Rises,Christopher Nolan,Nan,164 min,(2012),8.4,78,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1740960,Action,Drama,Thriller,$448.14M,12A
21,22.,Aliens,James Cameron,Nan,137 min,(1986),8.4,84,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,732272,Action,Adventure,Sci-Fi,$85.16M,U
22,23.,Kaithi,Lokesh Kanagaraj,Nan,145 min,(2019),8.4,Nan,Karthi,Narain,Arjun Das,George Maryan,36050,Action,Adventure,Crime,Nan,12A
23,24.,Asuran,Vetrimaaran,Nan,141 min,(2019),8.4,Nan,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,31171,Action,Drama,Nan,Nan,12A
24,25.,Top Gun: Maverick,Joseph Kosinski,Nan,130 min,(2022),8.3,78,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,588246,Action,Drama,Nan,Nan,12A
25,26.,Heat,Michael Mann,Nan,170 min,(1995),8.3,76,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,675635,Action,Crime,Drama,$718.73M,15
26,27.,Star Wars: Return of the Jedi,Richard Marquand,Nan,131 min,(1983),8.3,58,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1077185,Action,Adventure,Fantasy,$67.44M,U
27,28.,Princess Mononoke,Hayao Miyazaki,Nan,134 min,(1997),8.3,76,Y么ji Matsuda,Yuriko Ishida,Y没ko Tanaka,Billy Crudup,406580,Animation,Action,Adventure,$309.13M,PG
28,29.,North by Northwest,Alfred Hitchcock,Nan,136 min,(1959),8.3,98,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,334478,Action,Adventure,Mystery,$2.38M,A
29,30.,Kantara,Rishab Shetty,Nan,148 min,(2022),8.3,64,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,95359,Action,Adventure,Drama,$13.28M,15
30,31.,Dangal,Nitesh Tiwari,Nan,161 min,(2016),8.3,Nan,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,197234,Action,Biography,Drama,Nan,PG
31,32.,K.G.F: Chapter 2,Prashanth Neel,Nan,168 min,(2022),8.3,Nan,Yash,Sanjay Dutt,Raveena Tandon,Srinidhi Shetty,139555,Action,Crime,Drama,$12.39M,15
32,33.,Vikram,Lokesh Kanagaraj,Nan,175 min,(2022),8.3,Nan,Kamal Haasan,Vijay Sethupathi,Fahadh Faasil,Narain,63782,Action,Crime,Thriller,$6.60M,15
33,34.,Raatchasan,Ram Kumar,Nan,170 min,(2018),8.3,Nan,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,46914,Action,Crime,Drama,Nan,UA
34,35.,Shershaah,Vishnuvardhan,Nan,135 min,(2021),8.3,Nan,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,124736,Action,Biography,Drama,Nan,16
35,36.,Guardians of the Galaxy Vol. 3,James Gunn,Nan,150 min,(2023),8.2,Nan,Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff,144022,Action,Adventure,Comedy,Nan,12A
36,37.,Spider-Man: No Way Home,Jon Watts,Nan,148 min,(2021),8.2,71,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,796251,Action,Adventure,Fantasy,Nan,12A
37,38.,Jurassic Park,Steven Spielberg,Nan,127 min,(1993),8.2,68,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,1013472,Action,Adventure,Sci-Fi,$804.75M,PG
38,39.,Indiana Jones and the Last Crusade,Steven Spielberg,Nan,127 min,(1989),8.2,65,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,770837,Action,Adventure,Nan,$402.45M,PG
39,40.,1917,Sam Mendes,Nan,119 min,(2019),8.2,78,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,620547,Action,Drama,War,$197.17M,15
40,41.,Kill Bill: Vol. 1,Quentin Tarantino,Nan,111 min,(2003),8.2,69,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1140406,Action,Crime,Drama,$159.23M,18
41,42.,Batman Begins,Christopher Nolan,Nan,140 min,(2005),8.2,70,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1502736,Action,Crime,Drama,$70.10M,12A
42,43.,Die Hard,John McTiernan,Nan,132 min,(1988),8.2,72,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,901072,Action,Thriller,Nan,$206.85M,18
43,44.,V for Vendetta,James McTeigue,Nan,132 min,(2005),8.2,62,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1140465,Action,Drama,Sci-Fi,$83.01M,15
44,45.,Demon Slayer the Movie: Mugen Train,Haruo Sotozaki,Nan,117 min,(2020),8.2,72,Natsuki Hanae,Akari Kit么,Yoshitsugu Matsuoka,Hiro Shimono,64273,Animation,Action,Adventure,$70.51M,15
45,46.,Ran,Akira Kurosawa,Nan,162 min,(1985),8.2,97,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke Ry没,129096,Action,Drama,War,$47.70M,15
46,47.,Gangs of Wasseypur,Anurag Kashyap,Nan,321 min,(2012),8.2,89,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,99312,Action,Comedy,Crime,$4.14M,18
47,48.,Vikram Vedha,Gayatri,Pushkar,147 min,(2017),8.2,Nan,Madhavan,Vijay Sethupathi,Shraddha Srinath,Kathir,47608,Action,Crime,Drama,Nan,12A
48,49.,Baahubali 2: The Conclusion,S.S. Rajamouli,Nan,167 min,(2017),8.2,93,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,106651,Action,Drama,Nan,Nan,15
49,50.,Yojimbo,Akira Kurosawa,Nan,110 min,(1961),8.2,Nan,Toshir么 Mifune,Eijir么 T么no,Tatsuya Nakadai,Y么ko Tsukasa,125831,Action,Drama,Thriller,$20.19M,A

1)   Display all movie names, Director, ratings, and gross collection where the genre is action.

In [83]:
import pandas as pd

# Assuming you have a pandas DataFrame named 'df' with movie details

# Filter the DataFrame to include only rows where the genre is "action"
filtered_df = df[df['GENRE1'] == 'Action']

# Select the desired columns
selected_columns = ['MOVIE NAME', 'DIRECTOR1', 'VOTE', 'GROSS COLLECTION']

# Display the filtered DataFrame with selected columns
(filtered_df[selected_columns])

,MOVIE NAME,DIRECTOR1,VOTE,GROSS COLLECTION
0,The Dark Knight,Christopher Nolan,2717164,$534.86M
1,The Lord of the Rings: The Return of the King,Peter Jackson,1886427,$377.85M
2,Inception,Christopher Nolan,2411986,$292.58M
3,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,1915141,$315.54M
4,The Lord of the Rings: The Two Towers,Peter Jackson,1702734,$342.55M
5,The Matrix,Lana Wachowski,1957049,$171.48M
6,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,1320621,$290.48M
7,Soorarai Pottru,Sudha Kongara,119458,$322.74M
8,Star Wars: Episode IV - A New Hope,George Lucas,1393078,Nan
9,Terminator 2: Judgment Day,James Cameron,1122619,$204.84M
10,Seven Samurai,Akira Kurosawa,352730,$0.27M
11,Harakiri,Masaki Kobayashi,60924,$19.50M
12,Sita Ramam,Hanu Raghavapudi,59767,Nan
13,Leon,Luc Besson,1188926,Nan
14,Gladiator,Ridley Scott,1535607,$187.71M
16,Avengers: Endgame,Anthony Russo,1179125,$858.37M
17,Raiders of the Lost Ark,Steven Spielberg,985834,$248.16M
18,Avengers: Infinity War,Anthony Russo,1122577,$678.82M
19,Oldboy,Park Chan-wook,596103,$0.71M
20,The Dark Knight Rises,Christopher Nolan,1740960,$448.14M
21,Aliens,James Cameron,732272,$85.16M
22,Kaithi,Lokesh Kanagaraj,36050,Nan
23,Asuran,Vetrimaaran,31171,Nan
24,Top Gun: Maverick,Joseph Kosinski,588246,Nan
25,Heat,Michael Mann,675635,$718.73M
26,Star Wars: Return of the Jedi,Richard Marquand,1077185,$67.44M
28,North by Northwest,Alfred Hitchcock,334478,$2.38M
29,Kantara,Rishab Shetty,95359,$13.28M
30,Dangal,Nitesh Tiwari,197234,Nan
31,K.G.F: Chapter 2,Prashanth Neel,139555,$12.39M
32,Vikram,Lokesh Kanagaraj,63782,$6.60M
33,Raatchasan,Ram Kumar,46914,Nan
34,Shershaah,Vishnuvardhan,124736,Nan
35,Guardians of the Galaxy Vol. 3,James Gunn,144022,Nan
36,Spider-Man: No Way Home,Jon Watts,796251,Nan
37,Jurassic Park,Steven Spielberg,1013472,$804.75M
38,Indiana Jones and the Last Crusade,Steven Spielberg,770837,$402.45M
39,1917,Sam Mendes,620547,$197.17M
40,Kill Bill: Vol. 1,Quentin Tarantino,1140406,$159.23M
41,Batman Begins,Christopher Nolan,1502736,$70.10M
42,Die Hard,John McTiernan,901072,$206.85M
43,V for Vendetta,James McTeigue,1140465,$83.01M
45,Ran,Akira Kurosawa,129096,$47.70M
46,Gangs of Wasseypur,Anurag Kashyap,99312,$4.14M
47,Vikram Vedha,Gayatri,47608,Nan
48,Baahubali 2: The Conclusion,S.S. Rajamouli,106651,Nan
49,Yojimbo,Akira Kurosawa,125831,$20.19M

2.) Display all details from dataframe with the highest gross collection.

In [82]:
import pandas as pd

# Assuming you have a pandas DataFrame named 'df' with movie details

# Find the row with the highest gross collection
max_gross = df['GROSS COLLECTION'].max()
highest_gross_movie = df[df['GROSS COLLECTION'] == max_gross]

# Display all details of the movie with the highest gross collection
(highest_gross_movie)

,SNO.,MOVIE NAME,DIRECTOR1,DIRECTOR2,DURATION,YEAR,RATING,METSCORE,STAR 1,STAR 2,STAR 3,STAR 4,VOTE,GENRE1,GENRE2,GENRE3,GROSS COLLECTION,CERTIFICATION
8,9.,Star Wars: Episode IV - A New Hope,George Lucas,Nan,121 min,(1977),8.6,90,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1393078,Action,Adventure,Fantasy,Nan,U
12,13.,Sita Ramam,Hanu Raghavapudi,Nan,163 min,(2022),8.6,Nan,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,59767,Action,Drama,Mystery,Nan,12A
13,14.,Leon,Luc Besson,Nan,110 min,(1994),8.5,64,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1188926,Action,Crime,Drama,Nan,18
22,23.,Kaithi,Lokesh Kanagaraj,Nan,145 min,(2019),8.4,Nan,Karthi,Narain,Arjun Das,George Maryan,36050,Action,Adventure,Crime,Nan,12A
23,24.,Asuran,Vetrimaaran,Nan,141 min,(2019),8.4,Nan,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,31171,Action,Drama,Nan,Nan,12A
24,25.,Top Gun: Maverick,Joseph Kosinski,Nan,130 min,(2022),8.3,78,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,588246,Action,Drama,Nan,Nan,12A
30,31.,Dangal,Nitesh Tiwari,Nan,161 min,(2016),8.3,Nan,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,197234,Action,Biography,Drama,Nan,PG
33,34.,Raatchasan,Ram Kumar,Nan,170 min,(2018),8.3,Nan,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,46914,Action,Crime,Drama,Nan,UA
34,35.,Shershaah,Vishnuvardhan,Nan,135 min,(2021),8.3,Nan,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,124736,Action,Biography,Drama,Nan,16
35,36.,Guardians of the Galaxy Vol. 3,James Gunn,Nan,150 min,(2023),8.2,Nan,Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff,144022,Action,Adventure,Comedy,Nan,12A
36,37.,Spider-Man: No Way Home,Jon Watts,Nan,148 min,(2021),8.2,71,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,796251,Action,Adventure,Fantasy,Nan,12A
47,48.,Vikram Vedha,Gayatri,Pushkar,147 min,(2017),8.2,Nan,Madhavan,Vijay Sethupathi,Shraddha Srinath,Kathir,47608,Action,Crime,Drama,Nan,12A
48,49.,Baahubali 2: The Conclusion,S.S. Rajamouli,Nan,167 min,(2017),8.2,93,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,106651,Action,Drama,Nan,Nan,15

3.)Display all details from dataframe with the highest ratings

In [86]:
import pandas as pd

# Assuming you have a pandas DataFrame named 'df' with movie details

# Find the row with the highest ratings
max_rating = df['RATING'].max()
highest_rating_movie = df[df['RATING'] == max_rating]

# Display all details of the movie with the highest ratings
(highest_rating_movie)

,SNO.,MOVIE NAME,DIRECTOR1,DIRECTOR2,DURATION,YEAR,RATING,METSCORE,STAR 1,STAR 2,STAR 3,STAR 4,VOTE,GENRE1,GENRE2,GENRE3,GROSS COLLECTION,CERTIFICATION
0,1.,The Dark Knight,Christopher Nolan,Nan,152 min,(2008),9.0,84,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2717164,Action,Crime,Drama,$534.86M,12A
1,2.,The Lord of the Rings: The Return of the King,Peter Jackson,Nan,201 min,(2003),9.0,94,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1886427,Action,Adventure,Drama,$377.85M,12A

4.)   Display all details from dataframe with the lowest gross collection and lowest ratings

In [88]:
import pandas as pd

# Assuming you have a pandas DataFrame named 'df' with movie details

# Find the row with the lowest gross collection
min_gross = df['GROSS COLLECTION'].min()
lowest_gross_movie = df[df['GROSS COLLECTION'] == min_gross]

# Find the row with the lowest ratings
min_ratings = df['RATING'].min()
lowest_ratings_movie = df[df['RATING'] == min_ratings]

# Concatenate the two dataframes
result = pd.concat([lowest_gross_movie, lowest_ratings_movie], ignore_index=True)

# Display all details from the result dataframe
(result)

,SNO.,MOVIE NAME,DIRECTOR1,DIRECTOR2,DURATION,YEAR,RATING,METSCORE,STAR 1,STAR 2,STAR 3,STAR 4,VOTE,GENRE1,GENRE2,GENRE3,GROSS COLLECTION,CERTIFICATION
0,11.,Seven Samurai,Akira Kurosawa,Nan,207 min,(1954),8.6,98,Toshir么 Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,352730,Action,Drama,Nan,$0.27M,A
1,36.,Guardians of the Galaxy Vol. 3,James Gunn,Nan,150 min,(2023),8.2,Nan,Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff,144022,Action,Adventure,Comedy,Nan,12A
2,37.,Spider-Man: No Way Home,Jon Watts,Nan,148 min,(2021),8.2,71,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,796251,Action,Adventure,Fantasy,Nan,12A
3,38.,Jurassic Park,Steven Spielberg,Nan,127 min,(1993),8.2,68,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,1013472,Action,Adventure,Sci-Fi,$804.75M,PG
4,39.,Indiana Jones and the Last Crusade,Steven Spielberg,Nan,127 min,(1989),8.2,65,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,770837,Action,Adventure,Nan,$402.45M,PG
5,40.,1917,Sam Mendes,Nan,119 min,(2019),8.2,78,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,620547,Action,Drama,War,$197.17M,15
6,41.,Kill Bill: Vol. 1,Quentin Tarantino,Nan,111 min,(2003),8.2,69,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1140406,Action,Crime,Drama,$159.23M,18
7,42.,Batman Begins,Christopher Nolan,Nan,140 min,(2005),8.2,70,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1502736,Action,Crime,Drama,$70.10M,12A
8,43.,Die Hard,John McTiernan,Nan,132 min,(1988),8.2,72,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,901072,Action,Thriller,Nan,$206.85M,18
9,44.,V for Vendetta,James McTeigue,Nan,132 min,(2005),8.2,62,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1140465,Action,Drama,Sci-Fi,$83.01M,15
10,45.,Demon Slayer the Movie: Mugen Train,Haruo Sotozaki,Nan,117 min,(2020),8.2,72,Natsuki Hanae,Akari Kit么,Yoshitsugu Matsuoka,Hiro Shimono,64273,Animation,Action,Adventure,$70.51M,15
11,46.,Ran,Akira Kurosawa,Nan,162 min,(1985),8.2,97,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke Ry没,129096,Action,Drama,War,$47.70M,15
12,47.,Gangs of Wasseypur,Anurag Kashyap,Nan,321 min,(2012),8.2,89,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,99312,Action,Comedy,Crime,$4.14M,18
13,48.,Vikram Vedha,Gayatri,Pushkar,147 min,(2017),8.2,Nan,Madhavan,Vijay Sethupathi,Shraddha Srinath,Kathir,47608,Action,Crime,Drama,Nan,12A
14,49.,Baahubali 2: The Conclusion,S.S. Rajamouli,Nan,167 min,(2017),8.2,93,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,106651,Action,Drama,Nan,Nan,15
15,50.,Yojimbo,Akira Kurosawa,Nan,110 min,(1961),8.2,Nan,Toshir么 Mifune,Eijir么 T么no,Tatsuya Nakadai,Y么ko Tsukasa,125831,Action,Drama,Thriller,$20.19M,A

# PHASE 3